<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cairo Alexandria</title>
    <style>
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
        .paragraph{
            font-size: 25px;
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
        .translation-btn-usa{
            position: absolute;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            cursor: pointer;
            margin-top: -80px;
            margin-left: 1300px;
        }
        .translation-btn-ro{
            position: absolute;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            cursor: pointer;
            margin-top: -80px;
            margin-left: 1390px;
        }
        .invisible{
            display: none;
            top: -1000000px;
        }
    </style>
</head>
<body>
    <a class="back" href="/sharm-el-sheikh/home">     <p class="back">←</p>    </a>
    <div class="translation">
        <img src="/images/1200px-Flag_of_the_United_States.svg.png" class="translation-btn-usa" id="translation-btn-usa">
        <img src="/images/1200px-Flag_of_Romania.svg.png" class="translation-btn-ro" id="translation-btn-ro">
    </div>
    <h1>Cairo Alexandria</h1>
    <p id="paragraph-ro" class="paragraph">
        O oportunitate fantastica sa explorezi cele mai frumoase monumente din Cairo si Alexandria. Vizita la Muzeul Egiptian de Antichitati, Marea Piramida si Sfinxul inainte sa mergem catre nordul Alexandriei ca sa exploram cele mai frumoase obiective turistice. Vizita la Alexandria Pompey Pillar, Catacombele din Kom El Shokafa, Fortul Qitbay, Biblioteca Alexandria & Moscheea Abo El Abbas de afara.                                                                                             
        <br><br>
        Cand:<br>
    </p>
    <p id="paragraph-usa" class="paragraph invisible">
        A fantastic opportunity to explore Cairo and Alexandria’s best monuments. Visit Egyptian Museum of Antiquities, Great Pyramid and Sphinx before heading north to Alexandria to explore Alexandria’s best sights. Visit Alexandria Pompey Pillar , Catacombs of Kom El Shokafa, Fort Qitbay, Alexandria bibliotheca & Abo El Abbas mosque from out side.<br><br>
        When:<br>
    </p>
</body>
<script>
    const translateBtnUsa = document.getElementById("translation-btn-usa")
    const translateBtnRo = document.getElementById("translation-btn-ro")
    const paragraphUsa = document.getElementById("paragraph-usa")
    const paragraphRo = document.getElementById("paragraph-ro")

    translateBtnUsa.addEventListener("click", ()=>{
        paragraphUsa.classList.remove("invisible")
        paragraphRo.classList.add("invisible")
    })

    translateBtnRo.addEventListener("click", ()=>{
        paragraphUsa.classList.add("invisible")
        paragraphRo.classList.remove("invisible")
    })

</script>
</html>