<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hammam</title>
    <style>
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
        .paragraph{
            font-size: 25px;
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
        @media (max-width: 600px) {
            .paragraph{
                font-size: 25px;
                width: 280vw;
            }
        }
        .translation-btn-usa{
            position: absolute;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            cursor: pointer;
            margin-top: -80px;
            margin-left: 1300px;
        }
        .translation-btn-ro{
            position: absolute;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            cursor: pointer;
            margin-top: -80px;
            margin-left: 1390px;
        }
        .invisible{
            display: none;
            top: -1000000px;
        }
    </style>
</head>
<body>
    <a class="back" href="/sharm-el-sheikh/home">     <p class="back">←</p>    </a>
    <div class="translation">
        <img src="/images/1200px-Flag_of_the_United_States.svg.png" class="translation-btn-usa" id="translation-btn-usa">
        <img src="/images/1200px-Flag_of_Romania.svg.png" class="translation-btn-ro" id="translation-btn-ro">
    </div>
    <h1>Hammam</h1>
    <p id="paragraph-ro" class="paragraph">
        Suferiți de stres, de oboseală și corpul dvs. a fost expus la poluarea aerului sau la alte efecte nocive sau doriți doar să vă relaxați pe deplin în vacanță?
        Atunci baia noastră turcească si Masaj este exact ceea ce ai nevoie.O experiență minunată și un mod minunat de a răsfăța corpul și de a-l ajuta să elibereze o parte din acest stres. Relaxați-vă la o baie tradițională turcească din Sharm el sheikh, bucurați-vă de o experiență minunată de două ore în timp ce obțineți cel mai bun serviciu. Reîmprospătați-vă și înmuiați-vă pielea în timp ce vă relaxați în saună și baie de aburi, bucurați-vă de toate serviciile de spa și saună oferite, tratament de decojire de piele, de la masaj și până la toate, un masaj complet cu ulei de corp.
        <br><br>
        Cand:<br>
    </p>
    <p id="paragraph-usa" class="paragraph invisible">
        Enjoy a relaxing day in the hammam in Sharm el sheikh that appeals all your senses. Well educated Hammam employees take care of your constant well-being. The bathing experience in a hammam takes you to another world for a day, where you can throw your everyday worries over board and recharge your batteries. The Turkish bath in Sharm el sheikh is not only a pleasant change on the cooler days in Egypt, but it also offers an amazing refreshment in the summer heat.
        When:<br>
    </p>
</body>
<script>
    const translateBtnUsa = document.getElementById("translation-btn-usa")
    const translateBtnRo = document.getElementById("translation-btn-ro")
    const paragraphUsa = document.getElementById("paragraph-usa")
    const paragraphRo = document.getElementById("paragraph-ro")

    translateBtnUsa.addEventListener("click", ()=>{
        paragraphUsa.classList.remove("invisible")
        paragraphRo.classList.add("invisible")
    })

    translateBtnRo.addEventListener("click", ()=>{
        paragraphUsa.classList.add("invisible")
        paragraphRo.classList.remove("invisible")
    })

</script>
</html>