<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sharm El Sheikh</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .excursion-end-i{
            text-decoration: none;
            color: black;
            font-size: 27px;
            height: 50px;
            width: 800px;
            padding: 10px;
            position: relative;
            margin: 10px;
        }
        .excursions{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 350px;
        }
        .excursion-end{
            margin-top: 75px;
            margin-left: 15px;
            margin-bottom: 15px;
            text-decoration: none;
            color: black;
            font-size: 27px;
            width: 1430px;
            position: relative;
        }
        .excursion{
            margin: 20px;
            text-decoration: none;
            color: black;
            font-size: 27px;
            height: 50px;
            width: 300px;
            padding: 10px;
        }
        ::-webkit-scrollbar {
            width: 15px;
        }
        ::-webkit-scrollbar-track {
            background: rgb(37, 37, 37); 
        }
        ::-webkit-scrollbar-thumb {
            background: #333; 
            border-radius: 25px;
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #555; 
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
        .invisible{
            display: none;
            top: -1000000px;
        }
        .alfabet-btn{
            position: absolute;
            border: 5px solid lightgrey;
            color: black;
            padding: 7px 10px;
            background-color: rgb(235, 235, 235);
            font-size: 25px;
            font-weight: bold;
            cursor: pointer;
            margin-left: 1300px;
            margin-top: -60px;
        }
        .alfabet-clicked{
            position: absolute;
            border: 5px solid rgb(235, 235, 235);
            color: black;
            padding: 7px 10px;
            background-color: lightgrey;
            font-size: 25px;
            font-weight: bold;
            cursor: pointer;
            margin-left: 1300px;
            margin-top: -60px;
        }
        .card{
            align-content: center;
            justify-content: center;
            height: 340px;
            width: 260px;
            border-radius: 10px;
            padding-top:  8px;
            padding-left:  8px;
            cursor: pointer;
        }
        .trip-card{
            text-align: center;
            color: white;
            position: relative;
            margin-top: -2px;
            font-size: 26px;

        }
        .card:hover{
            background-color: rgb(219, 219, 219);
            height: 380px;
            color: black;
        }

        .trip-card:hover{
            color: black;
        }
                                                                    /* Card Images */
        .image-card-petra{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Treasury_petra_crop.jpeg/1200px-Treasury_petra_crop.jpeg");
        }
        .image-card-cairo-by-bus{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://destepti.ro/wp-content/uploads/2016/08/Cairo-1-696x532.jpg");
        }
        .image-card-cairo-alexandria{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://www.lifebeyondex.com/wp-content/uploads/2020/08/Places-to-see-in-Alexandria-Egypt-1024x682.jpg");
        }
        .image-card-cairo-by-plane{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://i.redd.it/0drdwf9gw7j41.jpg");
        }
        .image-card-moses-mountain{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://cdn.getyourguide.com/img/tour/5e4ae8d66c15b.jpeg/99.jpg");
        }
        .image-card-tiran{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://www.sharmhurghadaexcursions.com/images/items/15685034710ad93eec427ba3ac70c7dc0a8037a013.jpg");
        }
        .image-card-sea-scope{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://media.tacdn.com/media/attractions-splice-spp-674x446/06/74/6e/3d.jpg");
        }
        .image-card-aqua-park{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://pix10.agoda.net/hotelImages/353/3530521/3530521_17120416510060197811.jpg?ca=6&ce=1&s=1024x768");
        }
        .image-card-dolphin-show{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://outdoortrip-web.s3.eu-central-1.amazonaws.com/3739-dolphin-show-in-sharm-el-sheikh/dolphin-show-in-sharm-el-sheikh.5e5e3b3031473-full.jpg");
        }
        .image-card-glass-boat{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://www.menemtours.com/wp-content/uploads/2018/04/glass4.jpg");
        }
        .image-card-parasailing{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://www.sharm-club.com/assets/images/excursions/watersports/parasailing/parasailing-in-sharm-el-sheikh.jpg");
        }
        .image-card-hammam{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://nile-voyage.com/home/wp-content/uploads/2020/07/Turkish-bath-and-massage-in-Hurghada-www.nile-voyage.com_.-18.jpg");
        }
        .end-page{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: black;
            height: 120px;
            width: 100%;
            bottom: 0;
            position: relative;
            margin-top: 250px;
        }
        .icon{
            color: white;
            position: relative;
            font-size: 25px;
            text-decoration: none;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 10px;
        }
        .end-img:hover{
            color: rgb(194, 194, 194);
        }
        .end-img-facebook{
            height: 80px;
            width: 80px;
            color: white;
        }
        .end-img{
            height: 60px;
            width: 60px;
            color: white;
            margin: 15px;
        }
        .black{
            color: black;
        }
        .translation-btn-usa{
            position: absolute;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            cursor: pointer;
            margin-top: -80px;
            margin-left: 1300px;
        }
        .translation-btn-ro{
            position: absolute;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            cursor: pointer;
            margin-top: -80px;
            margin-left: 1390px;
        }
        .end-img{
            height: 60px;
            width: 60px;
            color: white;
            margin: 15px;
        }
        @media (max-width: 600px) {
            .end-page{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background-color: black;
                height: 120px;
                width: 288vw;
                bottom: 0;
                position: relative;
                margin-top: 550px;
            }
            .excursions{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 380px;
            }
            .excursion-end{
                text-decoration: none;
                color: black;
                font-size: 27px;
                height: 50px;
                width: 280vw;
                padding: 10px;
                position: relative;
                margin: 300px 10px;
            }
            .excursion-end-i{
                text-decoration: none;
                color: black;
                font-size: 27px;
                height: 50px;
                width: 280vw;
                padding: 10px;
                position: relative;
                margin: 10px;
            }
            .trip-card{
                text-align: center;
                color: black;
                position: relative;
                margin-top: -2px;
                font-size: 26px;
            }
        }
        .on{
            background-color: green;
            color: white;
            font-weight: bold;
            position: absolute;
            height: 25px;
            width: 25px;
            padding: 7px;
            margin-left: 1200px;
            cursor: pointer;
            border-radius: 50%;
            text-align: center;
        }
        .off{
            background-color: red;
            color: white;
            font-weight: bold;
            position: absolute;
            height: 25px;
            width: 25px;
            padding: 7px;
            margin-left: 1200px;
            cursor: pointer;
            border-radius: 50%;
            text-align: center;
        }
        @keyframes rotate{
            0%{
                transform: rotate(0deg);
            }
            100%{
                transform: rotate(360deg);
            }
        }
        .rotate{
            animation: rotate 0.3s ease-in-out forwards;
        }
        .wheel{
            height: 60px;
            width: 60px;
            position: absolute;
            margin-left: 1300px;
            cursor: pointer;
            border-radius: 10px;
        }
        @keyframes appear{
            0%{
                right: -100px;
            }
            100%{
                right: 180px;
            }
        }
        .white{
            color: white;
        }
        .appear{
            animation: appear ease-in-out 0.4s;
        }
        .setting{
            width: 400px;
            height: auto;
        }
        .start{
            margin: 50px;
        }
        .title-text{
            font-size: 24px;
            font-weight: bold;
            position: absolute;
            margin-left: 950px;
            width: 500px;
        }
        .first{
            font-weight: bolder;
            font-size: 40px;
            position: absolute;
            margin-left: 600px;
        }
        .next{
            position: absolute;
            font-weight: bolder;
            font-size: 25px;
            margin-left: 1260px;
            cursor: pointer;
        }
        .translate-form{
            position: absolute;
            font-weight: bolder;
            font-size: 25px;
            margin-left: 1090px;
            margin-top: 20px;
            cursor: pointer;
        }
        .previous{
            position: absolute;
            font-weight: bolder;
            font-size: 25px;
            margin-left: 926px;
            cursor: pointer;
        }
        .translation-btn-usa{
            position: absolute;
            margin-top: 7px;
            margin-left: 1130px;
        }
        .translation-btn-ro{
            position: absolute;
            margin-top: 7px;
            margin-left: 1230px;
        }
    </style>
</head>
<body>

    <div class="start">
        <a class="back" href="/">     <p class="back">←</p>    </a>
        <h1 class="first">Sharm El Sheikh</h1>
        <div class="setting">
            <img src="/images/settings.png" id="wheel" class="wheel">
            <div class="title-visibility">
                <p class="title-text invisible" id="title-text">Vizibilitatea titlurilor:</p>
                <p class="on invisible" id="on">On</p>
                <p class="off invisible" id="off">Off</p>    
            </div>
            <p class="next invisible" id="next"> > </p>
            <p class="previous invisible" id="previous"> < </p>
            <div class="translate-setting">
                <img src="/images/1200px-Flag_of_the_United_States.svg.png" class="translation-btn-usa invisible" id="translation-btn-usa">
                <img src="/images/1200px-Flag_of_Romania.svg.png" class="translation-btn-ro invisible" id="translation-btn-ro">
            </div>
        </div>
    </div>
    
        <din class="paragraph-ro" id="paragraph-ro">
    
        <div class="excursions">
    
        <a class="excursion" href="/sharm-el-sheikh/petra">
            <div class="card">
                <img class="image-card-petra">
                <p id="trip-card1" class="trip-card">Petra</p>
            </div>
        </a>
        <a class="excursion" href="/sharm-el-sheikh/cairo-by-bus">
            <div class="card">
                <img class="image-card-cairo-by-bus">
                <p id="trip-card2" class="trip-card">Cairo by bus</p>
            </div>
        </a>
        <a class="excursion" href="/sharm-el-sheikh/cairo-alexandria">
            <div class="card">
                <img class="image-card-cairo-alexandria">
                <p id="trip-card3" class="trip-card">Cairo - Alexandria</p>
            </div>
        </a>
        <a class="excursion" href="/sharm-el-sheikh/cairo-by-plane">
            <div class="card">
                <img class="image-card-cairo-by-plane">
                <p id="trip-card4" class="trip-card">Cairo by plane</p>
            </div>
        </a>
    
        </div>
    
        <div class="excursions">
    
        <a class="excursion" href="/sharm-el-sheikh/moses-mountain">
            <div class="card">
                <img class="image-card-moses-mountain">
                <p id="trip-card5" class="trip-card">Moses Mountain</p>
            </div>
        </a>
        <a class="excursion" href="/sharm-el-sheikh/tiran">
            <div class="card">
                <img class="image-card-tiran">
                <p id="trip-card6" class="trip-card">Tiran Island</p>
            </div>
        </a>
        <a class="excursion" href="/sharm-el-sheikh/sea-scope">
            <div class="card">
                <img class="image-card-sea-scope">
                <p id="trip-card7" class="trip-card">Sea Scope</p>
            </div>
        </a>
        <a class="excursion" href="/sharm-el-sheikh/aqua-park">
            <div class="card">
                <img class="image-card-aqua-park">
                <p id="trip-card8" class="trip-card">Aqua Park</p>
            </div>
        </a>
    
        </div>
    
        <div class="excursions">
    
            <a class="excursion" href="/sharm-el-sheikh/dolphin-show">
                <div class="card">
                    <img class="image-card-dolphin-show">
                    <p id="trip-card9" class="trip-card">Dolphin Show</p>
                </div>
            </a>
            <a class="excursion" href="/sharm-el-sheikh/glass-boat">
                <div class="card">
                    <img class="image-card-glass-boat">
                    <p id="trip-card10" class="trip-card">Glass Boat</p>
                </div>
            </a>
            <a class="excursion" href="/sharm-el-sheikh/parasailing">
                <div class="card">
                    <img class="image-card-parasailing">
                    <p id="trip-card11" class="trip-card">Parasailing</p>
                </div>
            </a>
            <a class="excursion" href="/sharm-el-sheikh/hammam">
                <div class="card">
                    <img class="image-card-hammam">
                    <p id="trip-card12" class="trip-card">Hammam</p>
                </div>
            </a>
        
            </div>    
    
        </din>
    
    
        <din class="paragraph-usa invisible" id="paragraph-usa">
    
            <div class="excursions">
        
            <a class="excursion" href="/sharm-el-sheikh/petra">
                <div class="card">
                    <img class="image-card-petra">
                    <p id="trip-cardA" class="trip-card">Petra</p>
                </div>
            </a>
            <a class="excursion" href="/sharm-el-sheikh/cairo-by-bus">
                <div class="card">
                    <img class="image-card-cairo-by-bus">
                    <p id="trip-cardB" class="trip-card">Cairo by bus</p>
                </div>
            </a>
            <a class="excursion" href="/sharm-el-sheikh/cairo-alexandria">
                <div class="card">
                    <img class="image-card-cairo-alexandria">
                    <p id="trip-cardC" class="trip-card">Cairo - Alexandria</p>
                </div>
            </a>
            <a class="excursion" href="/sharm-el-sheikh/cairo-by-plane">
                <div class="card">
                    <img class="image-card-cairo-by-plane">
                    <p id="trip-cardD" class="trip-card">Cairo by plane</p>
                </div>
            </a>
        
            </div>
        
            <div class="excursions">
        
            <a class="excursion" href="/sharm-el-sheikh/moses-mountain">
                <div class="card">
                    <img class="image-card-moses-mountain">
                    <p id="trip-cardE" class="trip-card">Moses Mountain</p>
                </div>
            </a>
            <a class="excursion" href="/sharm-el-sheikh/tiran">
                <div class="card">
                    <img class="image-card-tiran">
                    <p id="trip-cardF" class="trip-card">Tiran Island</p>
                </div>
            </a>
            <a class="excursion" href="/sharm-el-sheikh/sea-scope">
                <div class="card">
                    <img class="image-card-sea-scope">
                    <p id="trip-cardG" class="trip-card">Sea Scope</p>
                </div>
            </a>
            <a class="excursion" href="/sharm-el-sheikh/aqua-park">
                <div class="card">
                    <img class="image-card-aqua-park">
                    <p id="trip-cardH" class="trip-card">Aqua Park</p>
                </div>
            </a>
        
            </div>
        
            <div class="excursions">
        
                <a class="excursion" href="/sharm-el-sheikh/dolphin-show">
                    <div class="card">
                        <img class="image-card-dolphin-show">
                        <p id="trip-cardI" class="trip-card">Dolphin Show</p>
                    </div>
                </a>
                <a class="excursion" href="/sharm-el-sheikh/glass-boat">
                    <div class="card">
                        <img class="image-card-glass-boat">
                        <p id="trip-cardJ" class="trip-card">Glass Boat</p>
                    </div>
                </a>
                <a class="excursion" href="/sharm-el-sheikh/parasailing">
                    <div class="card">
                        <img class="image-card-parasailing">
                        <p id="trip-cardK" class="trip-card">Parasailing</p>
                    </div>
                </a>
                <a class="excursion" href="/sharm-el-sheikh/hammam">
                    <div class="card">
                        <img class="image-card-hammam">
                        <p id="trip-cardL" class="trip-card">Hammam</p>
                    </div>
                </a>
            
                </div>    
        
            </din>
            
    </div>

    <div class="end">
        <h1>Ce ar trebuii sa stii:</h1>
        <p class="excursion-end">

        </p>
    </div>
    <div class="end-page">
        <a class="icon" target="_blank" href="https://www.facebook.com/profile.php?id=100057490687559&is_tour_dismissed=true"> <img class="end-img-facebook" src="/images/facebook-logo-png-white-facebook-logo-png-white-facebook-icon-png--32.png"> </a>
        <a class="icon" target="_blank" href="https://www.instagram.com/excursii_elmajico/"> <img class="end-img" src="/images/instagram-logo-white-icon-symbol-stencil-text-number-transparent-png-1001134.png"> </a>
        <a class="icon" href="https://excursiihurghada.ro/"> <img class="end-img" src="/images/170-1709508_web-solutions-web-icon-white-png.png"> </a>
        <a class="icon" href="/contact-us"> <img class="end-img" src="/images/-1216105672015k2cwxy9y6.png"> </a>
    </div>

</body>
    <script>
                const tripTitle1 = document.getElementById("trip-card1")
        const tripTitle2 = document.getElementById("trip-card2")
        const tripTitle3 = document.getElementById("trip-card3")
        const tripTitle4 = document.getElementById("trip-card4")
        const tripTitle5 = document.getElementById("trip-card5")
        const tripTitle6 = document.getElementById("trip-card6")
        const tripTitle7 = document.getElementById("trip-card7")
        const tripTitle8 = document.getElementById("trip-card8")
        const tripTitle9 = document.getElementById("trip-card9")
        const tripTitle10 = document.getElementById("trip-card10")
        const tripTitle11 = document.getElementById("trip-card11")
        const tripTitle12 = document.getElementById("trip-card12")

        const tripTitleA = document.getElementById("trip-cardA")
        const tripTitleB = document.getElementById("trip-cardB")
        const tripTitleC = document.getElementById("trip-cardC")
        const tripTitleD = document.getElementById("trip-cardD")
        const tripTitleE = document.getElementById("trip-cardE")
        const tripTitleF = document.getElementById("trip-cardF")
        const tripTitleG = document.getElementById("trip-cardG")
        const tripTitleH = document.getElementById("trip-cardH")
        const tripTitleI = document.getElementById("trip-cardI")
        const tripTitleJ = document.getElementById("trip-cardJ")
        const tripTitleK = document.getElementById("trip-cardK")
        const tripTitleL = document.getElementById("trip-cardL")

    const wheel = document.getElementById("wheel")
    const on = document.getElementById("on")
    const off = document.getElementById("off")
    const titleText = document.getElementById("title-text")
    const next = document.getElementById("next")
    const previous = document.getElementById("previous")

    next.addEventListener("click", ()=>{
        on.classList.add("invisible")
        off.classList.add("invisible")
        titleText.classList.add("invisible")
        translateBtnUsa.classList.remove("invisible")
        translateBtnRo.classList.remove("invisible")
        next.classList.add("invisible")
        previous.classList.remove("invisible")
        translateBtnUsa.classList.add("appear")
        translateBtnRo.classList.add("appear")
        previous.classList.remove("previous")
        previous.classList.add("translate-form")
        setTimeout(() =>{
            translateBtnUsa.classList.remove("appear")
            translateBtnRo.classList.remove("appear")
        },350)
    })

    previous.addEventListener("click", ()=>{
        on.classList.remove("invisible")
        off.classList.remove("invisible")
        titleText.classList.remove("invisible")
        translateBtnUsa.classList.add("invisible")
        translateBtnRo.classList.add("invisible")
        next.classList.remove("invisible")
        previous.classList.add("invisible")
        setTimeout(() =>{
            translateBtnUsa.classList.remove("appear")
            translateBtnRo.classList.remove("appear")
        },350)
    })

    wheel.addEventListener("click", ()=>{
        wheel.classList.add("rotate")
        setTimeout(() =>{
            on.classList.remove("invisible")
            on.classList.add("appear")
            titleText.classList.remove("invisible")
            titleText.classList.add("appear")
            previous.classList.remove("invisible")
            previous.classList.add("appear")
            next.classList.remove("invisible")
            next.classList.add("appear")
        },350)
        setTimeout(() =>{
            next.classList.remove("appear")
            previous.classList.remove("appear")
            on.classList.remove("appear")
            titleText.classList.remove("appear")
        },500)
    })

    off.addEventListener("click", ()=>{
        tripTitle1.classList.add("white")
        tripTitle2.classList.add("white")
        tripTitle3.classList.add("white")
        tripTitle4.classList.add("white")
        tripTitle5.classList.add("white")
        tripTitle6.classList.add("white")
        tripTitle7.classList.add("white")
        tripTitle8.classList.add("white")
        tripTitle9.classList.add("white")
        tripTitle10.classList.add("white")
        tripTitle11.classList.add("white")
        tripTitle12.classList.add("white")

        tripTitleA.classList.add("white")
        tripTitleB.classList.add("white")
        tripTitleC.classList.add("white")
        tripTitleD.classList.add("white")
        tripTitleE.classList.add("white")
        tripTitleF.classList.add("white")
        tripTitleG.classList.add("white")
        tripTitleH.classList.add("white")
        tripTitleI.classList.add("white")
        tripTitleJ.classList.add("white")
        tripTitleK.classList.add("white") 
        tripTitleL.classList.add("white")

        off.classList.add("invisible")
        on.classList.remove("invisible")

        tripTitle1.classList.remove("black")
        tripTitle2.classList.remove("black")
        tripTitle3.classList.remove("black")
        tripTitle4.classList.remove("black")
        tripTitle5.classList.remove("black")
        tripTitle6.classList.remove("black")
        tripTitle7.classList.remove("black")
        tripTitle8.classList.remove("black")
        tripTitle9.classList.remove("black")
        tripTitle10.classList.remove("black")
        tripTitle11.classList.remove("black")
        tripTitle12.classList.remove("black")

        tripTitleA.classList.remove("black")
        tripTitleB.classList.remove("black")
        tripTitleC.classList.remove("black")
        tripTitleD.classList.remove("black")
        tripTitleE.classList.remove("black")
        tripTitleF.classList.remove("black")
        tripTitleG.classList.remove("black")
        tripTitleH.classList.remove("black")
        tripTitleI.classList.remove("black")
        tripTitleJ.classList.remove("black")
        tripTitleK.classList.remove("black") 
        tripTitleL.classList.remove("black")
    })

    on.addEventListener("click", ()=>{
        tripTitle1.classList.add("black")
        tripTitle2.classList.add("black")
        tripTitle3.classList.add("black")
        tripTitle4.classList.add("black")
        tripTitle5.classList.add("black")
        tripTitle6.classList.add("black")
        tripTitle7.classList.add("black")
        tripTitle8.classList.add("black")
        tripTitle9.classList.add("black")
        tripTitle10.classList.add("black")
        tripTitle11.classList.add("black")
        tripTitle12.classList.add("black")

        tripTitleA.classList.add("black")
        tripTitleB.classList.add("black")
        tripTitleC.classList.add("black")
        tripTitleD.classList.add("black")
        tripTitleE.classList.add("black")
        tripTitleF.classList.add("black")
        tripTitleG.classList.add("black")
        tripTitleH.classList.add("black")
        tripTitleI.classList.add("black")
        tripTitleJ.classList.add("black")
        tripTitleK.classList.add("black") 
        tripTitleL.classList.add("black")


        off.classList.remove("invisible")
        on.classList.add("invisible")

        tripTitle1.classList.remove("white")
        tripTitle2.classList.remove("white")
        tripTitle3.classList.remove("white")
        tripTitle4.classList.remove("white")
        tripTitle5.classList.remove("white")
        tripTitle6.classList.remove("white")
        tripTitle7.classList.remove("white")
        tripTitle8.classList.remove("white")
        tripTitle9.classList.remove("white")
        tripTitle10.classList.remove("white")
        tripTitle11.classList.remove("white")
        tripTitle12.classList.remove("white")

        tripTitleA.classList.remove("white")
        tripTitleB.classList.remove("white")
        tripTitleC.classList.remove("white")
        tripTitleD.classList.remove("white")
        tripTitleE.classList.remove("white")
        tripTitleF.classList.remove("white")
        tripTitleG.classList.remove("white")
        tripTitleH.classList.remove("white")
        tripTitleI.classList.remove("white")
        tripTitleJ.classList.remove("white")
        tripTitleK.classList.remove("white") 
        tripTitleL.classList.remove("white")
    })

    const translateBtnUsa = document.getElementById("translation-btn-usa")
    const translateBtnRo = document.getElementById("translation-btn-ro")
    const paragraphUsa = document.getElementById("paragraph-usa")
    const paragraphRo = document.getElementById("paragraph-ro")

    translateBtnUsa.addEventListener("click", ()=>{
        paragraphUsa.classList.remove("invisible")
        paragraphRo.classList.add("invisible")
    })

    translateBtnRo.addEventListener("click", ()=>{
        paragraphUsa.classList.add("invisible")
        paragraphRo.classList.remove("invisible")
    })


    </script>
</html>