<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petra</title>
    <style>
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
        .paragraph{
            font-size: 25px;
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
        .translation-btn-usa{
            position: absolute;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            cursor: pointer;
            margin-top: -80px;
            margin-left: 1300px;
        }
        @media (max-width: 600px) {
            .paragraph{
                font-size: 25px;
                width: 280vw;
            }
        }
        .translation-btn-ro{
            position: absolute;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            cursor: pointer;
            margin-top: -80px;
            margin-left: 1390px;
        }
        .invisible{
            display: none;
            top: -1000000px;
        }
    </style>
</head>
<body>
    <a class="back" href="/sharm-el-sheikh/home">     <p class="back">←</p>    </a>
    <div class="translation">
        <img src="/images/1200px-Flag_of_the_United_States.svg.png" class="translation-btn-usa" id="translation-btn-usa">
        <img src="/images/1200px-Flag_of_Romania.svg.png" class="translation-btn-ro" id="translation-btn-ro">
    </div>
    <h1>Petra</h1>
    <p id="paragraph-ro" class="paragraph">
        Iordania-Petra din Sharm el sheikh – Plecare in cursul noptii catre portul Nuweiba (aprox 2 ore) de unde va imbarcati pe vasul care trece in Iordania, in Aqaba si dupa controlul vamal continuati drumul cu autocarul pana la intrarea in canionul care conduce catre Petra.
        “Orasul Pierdut”, “Cetatea Roz” sau “Minunea sapata in stanca” sunt numai cateva denumiri ce amintesc de orasul Petra, descoperit abia in anul 1812 si pozitionat in desertul Negev. Culoarea deosebita a stancilor, felul in care acestea au fost sculptate in urma cu 2000 de ani si transformate in locuinte, saloane, temple si monumente funerare, au facut ca orasul Petra sa fie inclus pe lista celor 7 noi minuni ale lumii.
        Vom descoperi si noi cele mai importante constructii din situl arheologic: Trezoreria, teatrul roman, mormintele regale, aleea coloanelor. Este important de stiut ca vizita orasului Petra se face integral mergand pe jos, pe teren accidentat pe alocuri si nu este potrivita persoanelor care au dificultati in a merge pe jos timp indelungat. Iordania-Petra din Sharm el sheikh
        <br><br>
        Pret:<br>
        Adult: 200 $<br>
        Copil: (0-2): 60 $<br><br> 
        Cand:<br>
    </p>
    <p id="paragraph-usa" class="paragraph invisible">
        Enjoy an amazing day tour to Petra in Jordan. Petra (Arabic. “Al Batra”) – This is by far, the most famous monument in Jordan. It located at 900 m above sea level in the narrow Siq canyon. Petra was the capital of Idumea, carved directly into the rocks more than 2 thousand years ago, and later – became the capital of the Nabatean kingdom. Due to its rich history and excellent preservation of monuments, it was included in the UNESCO World Heritage List at the end of the last century, and in 2007 became one of the new Seven Wonders of the World.
        Enjoy the top things to do and see in Jordan in this  guided day tour with Nile Voyage. We guarantee the best prices in all of Egypt. Book the best of day tours from Sharm El Sheikh Now! Day Tour to Petra (Jordan) from Sharm el sheikh . . Day Tour to Petra (Jordan) from Sharm el sheikh        <br><br>
        Pret:<br>
        Adult: 200 $<br>
        Children: (0-2): 60 $<br><br> 
        When:<br>
    </p>
</body>
<script>
    const translateBtnUsa = document.getElementById("translation-btn-usa")
    const translateBtnRo = document.getElementById("translation-btn-ro")
    const paragraphUsa = document.getElementById("paragraph-usa")
    const paragraphRo = document.getElementById("paragraph-ro")

    translateBtnUsa.addEventListener("click", ()=>{
        paragraphUsa.classList.remove("invisible")
        paragraphRo.classList.add("invisible")
    })

    translateBtnRo.addEventListener("click", ()=>{
        paragraphUsa.classList.add("invisible")
        paragraphRo.classList.remove("invisible")
    })

</script>
</html>