<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        .contact{
            height: 300px;
            width: 600px;
            border: 3px solid black;
            padding: 7px;
            margin: 15px;
        }
        .contact-form{
            font-size: 25px;
            font-weight: bold;
            padding: 9px;
        }
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
            width: 50px;
            position: relative;
        }
    </style>
</head>
<body>
    <a class="back" href="/">     <p class="back">←</p>    </a>
    <div class="contact">
        <h1>Amr Mahmoud:</h1>
        <p class="contact-form">→ Telefon: </p>
        <p class="contact-form">→ Email: </p>
        <p class="contact-form">→ Tara: </p>
        <p class="contact-form">→ Oras: </p>
    </div>
    <div class="contact">
        <h1>Candrea Minodora:</h1>
        <p class="contact-form">→ Telefon: </p>
        <p class="contact-form">→ Email: </p>
        <p class="contact-form">→ Tara: <i>Romania</i></p>
        <p class="contact-form">→ Oras: <i>Vatra-Dornei</i></p>
    </div>
    <div class="contact">
        <h1>Candrea Ionut:</h1>
        <p class="contact-form">→ Telefon: <i>0753 807 109</i></p>
        <p class="contact-form">→ Email: <i>ionut.csndrea@gmail.com</i></p>
        <p class="contact-form">→ Tara: <i>Romania</i></p>
        <p class="contact-form">→ Oras: <i>Vatra-Dornei</i></p>
    </div>
</body>
</html>