<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excursions El Majico</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .selection{
            display: flex;
            flex-direction: row;
            margin-top: 200px;
            margin-left: 100px;
            border: none;
        }
        .image-selection{
            height: 300px;
            width: 500px;
            margin-left: 50px;
            margin-right: 100px;
        }
        .image-selection:hover{
            animation: big 1s ease-in forwards;
        }
        @keyframes big{
            0%{
                height: 300px;
                width: 500px;
            }
            50%{
                height: 310px;
                width: 510px;
            }
            100%{
                height: 320px;
                width: 520px;
            }
        }
        .title-selection-hurghada{
            position: absolute;
            color: white;
            padding-left: 250px;
            padding-top: 258px;
            font-size: 26px;
            font-weight: bold;
            height: 5px;
            width: 10px;
        }
        .title-selection-marsalam{
            position: absolute;
            color: white;
            margin-left: 900px;
            margin-top: 258px;
            font-size: 26px;
            font-weight: bold;
        }
        .title-selection-sharm{
            position: absolute;
            color: white;
            margin-left: 1500px;
            margin-top: 258px;
            font-size: 26px;
            font-weight: bold;
            width: 220px;
        }
        ::-webkit-scrollbar {
            width: 15px;
        }
        ::-webkit-scrollbar-track {
            background: rgb(37, 37, 37); 
        }
        ::-webkit-scrollbar-thumb {
            background: #333; 
            border-radius: 25px;
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #555; 
        }
        .end-page{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: black;
            height: 100px;
            width: 100%;
            bottom: 0;
            position: relative;
            margin-top: 250px;
        }
        .icon{
            color: white;
            position: relative;
            font-size: 25px;
            text-decoration: none;
            margin: 35px;
        }
        .end-img:hover{
            color: rgb(194, 194, 194);
        }
        .end-img-facebook{
            height: 80px;
            width: 80px;
            color: white;
        }
        .end-img{
            height: 60px;
            width: 60px;
            color: white;
            margin: 15px;
        }
    </style>
</head>
<body>
    <div class="selection">
        <a href="/hurghada/home"> <img class="image-selection" src="/images/Hurghada_Hotels_R03.jpg"> </a>
        <p class="title-selection-hurghada">Hurghada</p>
        <a href="/marsalam/home"> <img class="image-selection" src="/images/Carnelia_Beach,_Marsa_Alam_(2232052889).jpg"> </a>
        <p class="title-selection-marsalam">Marsa Alam</p>
        <a href="/sharm-el-sheikh/home"> <img class="image-selection" src="/images/Sharm-El-Sheikh.jpg"> </a>
        <p class="title-selection-sharm">Sharm El Sheikh</p>
    </div>
    <div class="end-page">
        <a class="icon" target="_blank" href="https://www.facebook.com/profile.php?id=100057490687559&is_tour_dismissed=true"> <img class="end-img-facebook" src="/images/facebook-logo-png-white-facebook-logo-png-white-facebook-icon-png--32.png"> </a>
        <a class="icon" target="_blank" href="https://www.instagram.com/excursii_elmajico/"> <img class="end-img" src="/images/instagram-logo-white-icon-symbol-stencil-text-number-transparent-png-1001134.png"> </a>
        <a class="icon" href="https://excursiihurghada.ro/"> <img class="end-img" src="/images/170-1709508_web-solutions-web-icon-white-png.png"> </a>
        <a class="icon" href="/contact-us"> <img class="end-img" src="/images/-1216105672015k2cwxy9y6.png"> </a>
    </div>
</body>
</html>