<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asuan</title>
    <style>
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
        .paragraph{
            font-size: 25px;
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
    </style>
</head>
<body>
    <a class="back" href="/marsalam/home">     <p class="back">←</p>    </a>
    <h1>Asuan</h1>
    <p class="paragraph">
        Excursia zilnica catre cel mai indepartat oras in sudul Egiptului
        Orasul a fost construit pe cea mai uimitoare sectiune a Nilului. Vizita la Marele Baraj din Asuan pe Lacul Nasser - cea mai mare rezervatie artificiala de apa de pe planeta.
        Vei vizita si Templul Isis pe insula Philae. Vizita la parfumeria original egipteana, pranz cu vedere la Nil.
        In program este vizita la Satul Nubian ( cafea si ceai egiptean, poze cu crocodilii)
        Pretul include bilete pentru vizitarea cladirilor antice, autobuz de transfer cu aer conditionat, pranzul ( bauturile sunt conta cost )
        Plecarea se face devreme, ajungand pe la ora 23:00.
    </p>
</body>
</html>