<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asuan - Abu Simbel</title>
    <style>
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
        .paragraph{
            font-size: 25px;
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
    </style>
</head>
<body>
    <a class="back" href="/marsalam/home">     <p class="back">←</p>    </a>
    <h1>Asuan - Abu Simbel</h1>
    <p class="paragraph">
        Excursie de 2 zile cu autobuzul. In prima zi programul este identic ca cel de mai sus in Asuan, dupamiaza tarziu vei fi cazat intr-un hotel in Asuan.
        Ziua urmatoare la ora 04:00 dupa micul dejun, transferul cu un convoi milita catre Abu Simbel (aproximativ la 300km departare).
        -vizita la 2 cele mai mari si simbolice monuente ale Egiptului - templele Ramses II, sunt facute sa arate puterea si sa impresioneze strainii care ajung din sudul Egiptului.
        Templele au fost descoperite in 1813 de Jacoba Burckhardta, calatorul din Switzerland. Pranzul este inclus, bauturile sunt conta cost. In jurul orei 21:00 ajungi la hotel.    
        <br><br>
        Adult: 210 €<br>
        Copil: 105 €<br><br>
        Cand:<br>
        marti si miercuri
    </p>
</body>
</html>