<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hammata Islands</title>
    <style>
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
        .paragraph{
            font-size: 25px;
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
    </style>
</head>
<body>
    <a class="back" href="/marsalam/home">     <p class="back">←</p>    </a>
    <h1>Hammata Islands</h1>
    <p class="paragraph">
        O excursie de toata ziua catre Insulele Qulaan, localizata in sudul Parcului National Wadi El-Hamata.
        Plecarea dupa micul dejun din Hamata Marina (din Marsa Alam 105 km) pe barca.
        Doua pauze de snorkeling (45 min) in jurul insulelor sa admiri frumusetea naturii nedescoperita inca de mass media.
        Insula cu frumoasa apa albastra si nisip alb ca din Caraibe! Pranzul va fi pe barca si bauturile non alcoolice sunt incluse
        Echipamentul de snorkeling (masca,tub,inotatoare) disponibile pe gratis.
        <br><br>
        Adult: 75 €<br>
        Copil: 37 €
    </p>
</body>
</html>