<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mars Alam</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .excursion-end-i{
            text-decoration: none;
            color: black;
            font-size: 27px;
            height: 50px;
            width: 800px;
            padding: 10px;
            position: relative;
            margin: 10px;
        }
        .excursions{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 350px;
        }
        .excursion-end{
            margin-top: 75px;
            margin-left: 15px;
            margin-bottom: 15px;
            text-decoration: none;
            color: black;
            font-size: 27px;
            width: 1430px;
            position: relative;
        }
        .excursion{
            margin: 20px;
            text-decoration: none;
            color: black;
            font-size: 27px;
            height: 50px;
            width: 300px;
            padding: 10px;
        }
        ::-webkit-scrollbar {
            width: 15px;
        }
        ::-webkit-scrollbar-track {
            background: rgb(37, 37, 37); 
        }
        ::-webkit-scrollbar-thumb {
            background: #333; 
            border-radius: 25px;
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #555; 
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
        .invisible{
            display: none;
            top: -1000000px;
        }
        .alfabet-btn{
            position: absolute;
            border: 5px solid lightgrey;
            color: black;
            padding: 7px 10px;
            background-color: rgb(235, 235, 235);
            font-size: 25px;
            font-weight: bold;
            cursor: pointer;
            margin-left: 1300px;
            margin-top: -60px;
        }
        .alfabet-clicked{
            position: absolute;
            border: 5px solid rgb(235, 235, 235);
            color: black;
            padding: 7px 10px;
            background-color: lightgrey;
            font-size: 25px;
            font-weight: bold;
            cursor: pointer;
            margin-left: 1300px;
            margin-top: -60px;
        }
        .card{
            align-content: center;
            justify-content: center;
            height: 340px;
            width: 260px;
            border-radius: 10px;
            padding-top:  8px;
            padding-left:  8px;
            cursor: pointer;
        }
        .trip-card{
            text-align: center;
            color: white;
            position: relative;
            margin-top: -2px;
            font-size: 26px;

        }
        .card:hover{
            background-color: rgb(219, 219, 219);
            height: 380px;
            color: black;
        }

        .trip-card:hover{
            color: black;
        }

        /*                                                             Card images      */
        .image-card-luxor{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("/images/5f2d8a233e2d6a641d62c631_1634319553914.jpg");
        }
        .image-card-asuan{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://www.egypttoursportal.com/images/2020/11/Weather-in-Luxor-and-Aswan-Egypt-Tours-Portal.jpg");
        }
        .image-card-asuan-abu-simbel{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://www.marsaalamtours.com/ro/data1/images/Excursii-de-2-zile-la-Aswan-si-Abu-simble-de-la-Hurghada/4.jpg");
        }
        .image-card-mega-city-tour{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://www.12-travel.de/cache/22646/800/61412914.jpg");
        }
        .image-card-super-safari{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://d3rr2gvhjw0wwy.cloudfront.net/uploads/activity_headers/214217/2000x2000-0-70-528215842f61a4fac3bed7a15725edad.jpg");
        }
        .image-card-moto-safari{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("http://egyptplusvoyage.com/wp-content/uploads/2018/11/moto-1600-3.new_.jpg");
        }
        .image-card-seascope-glass-boat{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://media-cdn.tripadvisor.com/media/attractions-splice-spp-720x480/07/ba/d2/59.jpg");
        }
        .image-card-hammata-islands{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://www.abudabbab.com/media/2020/02/Hamata-Island-Marsa-Alam-Areial-View-2.jpg");
        }
        .image-card-marsa-imbarak{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://enterprise.press/wp-content/uploads/2017/04/Marsa-Alam-Port-Ghalib-01-3.jpg");
        }
        .image-card-satayeh{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://cdn.getyourguide.com/img/tour/5d5bddc969a18.jpeg/99.jpg");
        }
        .image-card-mega-nefertari{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://api.seeplaces.com/Storage/Static/Images/17356c94-6eaa-42fd-8a1b-12e497c70955.jpeg");
        }
        .end-page{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: black;
            height: 120px;
            width: 100%;
            bottom: 0;
            position: relative;
            margin-top: 250px;
        }
        .icon{
            color: white;
            position: relative;
            font-size: 25px;
            text-decoration: none;
            margin: 35px;
        }
        .end-img:hover{
            color: rgb(194, 194, 194);
        }
        .end-img-facebook{
            height: 80px;
            width: 80px;
            color: white;
        }
        .end-img{
            height: 60px;
            width: 60px;
            color: white;
            margin: 15px;
        }
    </style>
</head>
<body>

    

    <a class="back" href="/">     <p class="back">←</p>    </a>
    <div id="normal" class="excursions">
        
        <a class="excursion" href="/marsalam/luxor">
            <div class="card">
                <img class="image-card-luxor">
                <p class="trip-card">Luxor</p>
            </div>
        </a>
        <a class="excursion" href="/marsalam/asuan">
            <div class="card">
                <img class="image-card-asuan">
                <p class="trip-card">Asuan</p>
            </div>
        </a>
        <a class="excursion" href="/marsalam/asuan-abu-simbel">
                <div class="card">
                    <img class="image-card-asuan-abu-simbel">
                    <p class="trip-card">Asuan - Abu Simbel</p>
                </div>
        </a>
        <a class="excursion" href="/marsalam/mega-city-tour">
            <div class="card">
                <img class="image-card-mega-city-tour">
                <p class="trip-card">Mega City Tour</p>
            </div>
        </a>
    </div>
    <div id="normal" class="excursions">
        
        <a class="excursion" href="/marsalam/super-safari">
            <div class="card">
                <img class="image-card-super-safari">
                <p class="trip-card">Super Safari</p>
            </div>
        </a>
        <a class="excursion" href="/marsalam/moto-safari">
            <div class="card">
                <img class="image-card-moto-safari">
                <p class="trip-card">Moto Safari</p>
            </div>
        </a>
        <a class="excursion" href="/marsalam/seascope-glass-boat">
            <div class="card">
                <img class="image-card-seascope-glass-boat">
                <p class="trip-card">Seascope Glass Boat</p>
            </div>
        </a>
        <a class="excursion" href="/marsalam/hammata-islands">
            <div class="card">
                <img class="image-card-hammata-islands">
                <p class="trip-card">Hammata Islands</p>
            </div>
        </a>
    </div>
    <div id="normal" class="excursions">
        
        <a class="excursion" href="/marsalam/marsa-imbarak">
            <div class="card">
                <img class="image-card-marsa-imbarak">
                <p class="trip-card"> Marsa Imbarak</p>
            </div>
        </a>
        <a class="excursion" href="/marsalam/satayeh">
            <div class="card">
                <img class="image-card-satayeh">
                <p class="trip-card"> Satayeh</p>
            </div>
        </a>
        <a class="excursion" href="/marsalam/mega-nefertari">
            <div class="card">
                <img class="image-card-mega-nefertari">
                <p class="trip-card">Mega Nefertari</p>
            </div>
        </a>
        </div>

    <div class="end">
        <h1>Ce ar trebuii sa stii:</h1>
        <p class="excursion-end">
            •Excursiile pot fi achizitionate numai prin rezervare cu ghidul de turism reprezentativ la intalnirea de bun venit si vizitele planificate in hotelul dumneavoastra.<br>
            •Pentru toate excursiile (cu exceptia quad exc.) exista o reducere de preț de 50% pentru copiii cu varsta între 3-11 ani. Copiii cu varsta de pana la 3 ani au gratuitate.Copii cu vârsta de peste 11 ani plătesc biletul integral.<br>
            • Voucherele (biletele de excursie) trebuie să fie luate cu tine pentru toate excursiile si sa fie oferite ghidului la plecare, in plus pentru Marsa Imbarak si Insulele Qualaan, Luxor, Asuan, Asuan – Abu Simbel sunteti obligați să luati o fotocopie a pasaportului cu voi iar la Abu Simbel aveți nevoie de  pașaport.<br>
            •Este recomandat sa luati bani de buzunar ( lire egiptene schimbate pentru toalete în drum spre Luxor sau Aswan.<br>
            •Te rugam sa iti iei ceva cu ce sa te acoperi de soare in zilele insorite, sa iti iei ceva calduros ca sa porti in timpul excursiilor pe autobuz. Iar pentru toate excursiile pe mare   prosoapele pentru plaja de la hotel.<br><br>
            <h1>Dragi turisti</h1>
            <p class="excursion-end-i">
                Dragi turiști,pentru întrebări vă rugăm să vă adresați ghidului dvs El Majico ghid vorbitor română și engleza Amr Mahmoud; tel Whatsapp: +201092500379.<br>
                Vă așteptăm cu drag și va dorim o vacanță de vis!!!
            </p>    
        </p>
        </div>
        <div class="end-page">
            <a class="icon" target="_blank" href="https://www.facebook.com/profile.php?id=100057490687559&is_tour_dismissed=true"> <img class="end-img-facebook" src="/images/facebook-logo-png-white-facebook-logo-png-white-facebook-icon-png--32.png"> </a>
            <a class="icon" target="_blank" href="https://www.instagram.com/excursii_elmajico/"> <img class="end-img" src="/images/instagram-logo-white-icon-symbol-stencil-text-number-transparent-png-1001134.png"> </a>
            <a class="icon" href="https://excursiihurghada.ro/"> <img class="end-img" src="/images/170-1709508_web-solutions-web-icon-white-png.png"> </a>
            <a class="icon" href="/contact-us"> <img class="end-img" src="/images/-1216105672015k2cwxy9y6.png"> </a>
            </div>    
</body>
<script>

</script>
</html>
