<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mars Alam</title>
    <style>
        .excursions{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .excursion-end{
            margin-top: 75px;
            margin-left: 15px;
            margin-bottom: 15px;
            text-decoration: none;
            color: black;
            font-size: 27px;
            width: 800px;
            position: relative;
        }
        .excursion{
            margin: 20px;
            text-decoration: none;
            color: black;
            font-size: 27px;
            height: 50px;
            width: 300px;
            padding: 10px;
        }
        .excursion:hover{
            color: rgb(26, 26, 26);
            background-color: rgba(77, 77, 77, 0.151);
        }
        ::-webkit-scrollbar {
            width: 15px;
        }
        ::-webkit-scrollbar-track {
            background: rgb(37, 37, 37); 
        }
        ::-webkit-scrollbar-thumb {
            background: #333; 
            border-radius: 25px;
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #555; 
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
    <a class="back" href="/">     <p class="back">←</p>    </a>
    <div class="excursions">
        <a class="excursion" href="/marsalam/luxor">1. Luxor</a>
        <a class="excursion" href="/marsalam/asuan">2. Asuan</a>
        <a class="excursion" href="/marsalam/asuan-abu-simbel">3. Asuan - Abu Simbel</a>
        <a class="excursion" href="/marsalam/mega-city-tour">4. Mega City Tour</a>
        <a class="excursion" href="/marsalam/super-safari">5. Super Safari</a>
        <a class="excursion" href="/marsalam/moto-safari">6. Moto Safari</a>
        <a class="excursion" href="/marsalam/seascope-glass-boat">7. Seascope Glass Boat</a>
        <a class="excursion" href="/marsalam/hammata-islands">8. Hammata Islands</a>
        <a class="excursion" href="/marsalam/marsa-imbarak">9. Marsa Imbarak</a>
        <a class="excursion" href="/marsalam/satayeh">10. Satayeh</a>
    </div>
    <div class="end">
        <h1>Ce ar trebuii sa stii:</h1>
        <p class="excursion-end">
            •Excursiile pot fi achizitionate numai prin rezervare cu liderul de turism reprezentativ la intalnirea de bun venit si vizitele planificate in hotelul dumneavoastra.<br>
            •Pentru toate excursiile (cu exceptia quad exc.) exista o reducere de preț de 50% pentru copiii cu varsta între 3-12 ani. Copiii cu varsta de pana la 3 ani merg gratuit.<br>
            • Voucherele (biletele de excursie) trebuie să fie luate cu tine pentru toate excursiile si sa fie oferite liderului turului la plecare, in plus pentru Marsa Imbarak si Insulele Qualaan, Luxor, Asuan, Asuan – Abu Simbel sunteti obligat sa luati o fotocopie a pasaportului cu tine si pe Abu Simbel sa-ti iei pașaportul.<br>
            •Este recomandat sa luati bani de buzunar (1$) pentru bacsisuri pentru soferi si, de asemenea, lire egiptene schimbate pentru toalete în drum spre Luxor sau Aswan.<br>
            •Te rugam sa iti iei ceva cu ce sa te acoperi de soare in zilele insorite, sa iti iei ceva calduros ca sa porti in timpul excursiilor pe autobuz si pentru toate excursiile in apa sa iei prosoapele pentru plaja de la hotel.<br>
            •Toate excursiile sunt organizate de Travel Ways liderul tau reprezentativ este doar o persoana care va ajuta la rezervare.
            •In caz de demisie se va aplica o taxa de anulare – demisia pana la 24h –50% inapoi, mai puțin de 24h –0% inapoi.
        </p>
    </div>
</body>
</html>