<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marsalam</title>
    <style>
    </style>
</head>
<body>
    <div class="excursions">
        <a href="/marsalam/luxor">1. Luxor</a>
        <a href="/marsalam/asuan">2. Asuan</a>
        <a href="/marsalam/asuan-abu-simbel.ejs">3. Asuan - Abu Simbel</a>
        <a href="/marsalam/mega-city-tour">4. Mega City Tour</a>
        <a href="/marsalam/super-safari">5. Super Safari</a>
        <a>6. Moto safari</a>
        <a>7. Seascope Glass Boat</a>
        <a>8. Hammata Islands</a>
        <a>9. Marsa Imbarak</a>
        <a>10. Satayeh</a>
    </div>
</body>
</html>