<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luxor</title>
    <style>
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
        .paragraph{
            font-size: 25px;
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
    </style>
</head>
<body>
    <a class="back" href="/marsalam/home">     <p class="back">←</p>    </a>
    <h1>Luxor</h1>
    <p class="paragraph">
        Cunoscut ca si orasul palatelor - numeroasele monumente te vor duce catre tara faraonilor.
        Vei vizita complexul de temple Karnak, construit in timpul anilor 1500 (secolul 15) si desigur parfumeria (nume?). Croaziera pe Nill conta cost ( 5$ pentru voluntar).
        Cei 2 colosi al lui Memnon de 18 metrii. Viziteaza in templul Hatshepsut singura femeie faraon cunoscuta in istorie.
        Trecere pe langa casa arheologistului Howard Carter, care a descoperit mormantul lui Tutanchamon in 1922.
        Shopping in fabrica de albasrtu, bilete contra cost pentru vizitarea cladirilor antice, autobuz de transfer cu aer conditionat, pranzul ( bauturile sunt conta cost )
        Plecarea se face devreme, ajungand pe la ora 23:00
        <br><br>
        Adult: 110 €<br>
        Copil: 55 €
    </p>
</body>
</html>