<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luxor</title>
</head>
<body>
    <a href="/marsalam/home">     <p>Back</p>    </a>
    <h1>Luxor</h1>
    <p>
        Cunoscut ca si orasul palatelor - numeroasele monumente te vor duce catre tara faraonilor.
        Vei vizita complexul de temple Karnak, construit in timpul anilor 1500 (secolul 15) si desigur parfumeria (nume?). Croaziera pe Nill conta cost ( 5$ pentru voluntar).
        Cei 2 colosi al lui Memnon de 18 metrii. Viziteaza in templul Hatshepsut singura femeie faraon cunoscuta in istorie.
        Trecere pe langa casa arheologistului Howard Carter, care a descoperit mormantul lui Tutanchamon in 1922.
        Shopping in fabrica de albasrtu, bilete contra cost pentru vizitarea cladirilor antice, autobuz de transfer cu aer conditionat, pranzul ( bauturile sunt conta cost )
        Plecarea se face devreme, ajungand pe la ora 23:00
    </p>
</body>
</html>