<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marsa Imbarak</title>
    <style>
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
        .paragraph{
            font-size: 25px;
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
    </style>
</head>
<body>
    <a class="back" href="/marsalam/home">     <p class="back">←</p>    </a>
    <h1>Marsa Imbarak</h1>
    <p class="paragraph">
        O excursie de toata ziua din Portul Ghalib catre faimoasele gradini Marsa Imbarakreef cu broaste testoate si multe specii de pesti.
        Atracția incontestabilă are o sansă mare sa vedeti DUGONG în mediul său natural! Este un loc pe care trebuie vazut!
        Pranzul pe barca si bauturi non alcoolice sunt incluse. Echipamentul pentru snorkeling (masca,tub,inotatoare) sunt gratis
        Sosirea la hotel la ora 17:00-17:30
        <br><br>
        Adult: 65 €<br>
        Copil: 33 €<br><br>
        Cand:<br>
        luni si vineri
    </p>
</body>
</html>