<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mega City Tour</title>
    <style>
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
        .paragraph{
            font-size: 25px;
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
    </style>
</head>
<body>
    <a class="back" href="/marsalam/home">     <p class="back">←</p>    </a>
    <h1>Mega City Tour</h1>
    <p class="paragraph">
        Excursia de dupamiaza catre portul orasului El Quseir pentru shopping. O oportunitate sa vezi vizta de zi cu zi a oamenilor din localitate.
        In apropiere este un vechi port din perioada otomana, disponibila de vizitat. In program este vizita la Templul Coptic si timp de odihna cu ceai sau cafea.
        Pe drum va fi o cina cu mancare marina in cel mai bun restaurant cu grozava vedere a marii.
    </p>
</body>
</html>