<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mega Nefertari</title>
    <style>
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
        .paragraph{
            font-size: 25px;
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
    </style>
</head>
<body>
    <a class="back" href="/marsalam/home">     <p class="back">←</p>    </a>
    <h1>Mega Nefertari</h1>
    <p class="paragraph">
        Croaziera de dupa masa contine: o oprire pentru snorkeling, privirea coralilor, mancare marina (bauturile sunt contra cost),
        dupa te intorci catre Marina si in jur de o ora aveti timp liber pentru shopping in Portul Ghalib        <br><br>
        Adult: 110 €<br>
        Copil: 55 €<br><br>
        Cand:<br>
        in fiecare zi
    </p>
</body>
</html>