<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Safari</title>
    <style>
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
        .paragraph{
            font-size: 25px;
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
    </style>
</head>
<body>
    <a class="back" href="/marsalam/home">     <p class="back">←</p>    </a>
    <h1>Super Safari</h1>
    <p class="paragraph">
        Excursie pe nedescoperitul desert in timpul zilei, spre terenul mai adanc al desertului, unde veti vedea cum oamenii traiesc in conditii foarte dificile si cum se descurca zi de zi
        Cand te intorci in statia din safari, clientii conduc ATV-uri sa vada apusul. Beduinii vor organiza clarii de camila.
        Dupa apus o sa serviti cina si vei experimenta o performanta traditionala a dansatorilor locali si dansul Tunoura. Pranzul si bauturi nonalcoolice nelimitate.
        Intoarcerea la hotel intre ora 20:00 - 21:00   
        <br><br>
        Adult: 50 €<br>
        Copil: 25 €
    </p>
</body>
</html>