<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABU DABBAB</title>
    <style>
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
        .paragraph{
            font-size: 25px;
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
    </style>
</head>
<body>
    <a class="back" href="/hurghada/home">     <p class="back">←</p>    </a>
    <h1>ABU DABBAB</h1>
    <p class="paragraph">
        Excursie de o zi cu snorkeling la broaștele țestoase din Abu Dabbab , alături de echipa noastră El Majico.Plecare va fi in jurul orei 6:00 in functe de hotel si o sa ajungem in jurul orei 9:00 .O sa inotam cu brostele testoase si o sa vedem corali si pestisorii viu colorati . 
        Broaște țestoase în habitatul lor natural - o experiență fabuloasă.
        <br><br>
        Include:<br>
        Masa de pranz va  fi bufet deschis și este inclusa .<br>
        Băuturi non alocolice ,fructe și dulciuri orientale.<br>
        Echipament de snorkeling.<br>
        <br><br>
        Pret:<br>
        50 € - 60 € variaza in functie de numarul de persoane<br>
        De preferat grup de  intre 8 si 11 persoane
        <br><br>
        Cand:<br>
        intreaba ghidul
    </p>
</body>
</html>