<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acvariu</title>
    <style>
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
        .paragraph{
            font-size: 25px;
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
        .translation-btn-usa{
            position: absolute;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            cursor: pointer;
            margin-top: -80px;
            margin-left: 1300px;
        }
        @media (max-width: 600px) {
            .paragraph{
                font-size: 25px;
                width: 280vw;
            }
        }
        .translation-btn-ro{
            position: absolute;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            cursor: pointer;
            margin-top: -80px;
            margin-left: 1390px;
        }
        .invisible{
            display: none;
            top: -1000000px;
        }
        .image-end-1{
            position: relative;
            cursor: pointer;
            height: 340px;
            width: 380px;
            margin: 40px;
            box-shadow: 10px 10px 5px #aaaaaa;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://mediaim.expedia.com/localexpert/2077084/08353012-2b14-4711-ac13-a913cb5780e1.jpg?impolicy=resizecrop&rw=1005&rh=565");
        }
        .dark{
            background-color: #333;
        }
        .image-end-1-big{
            z-index: 111;
            position: absolute;
            cursor: pointer;
            height: 540px;
            width: 880px;
            margin-top: 40px;
            margin-left: 400px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://mediaim.expedia.com/localexpert/2077084/08353012-2b14-4711-ac13-a913cb5780e1.jpg?impolicy=resizecrop&rw=1005&rh=565");
        }
        ::-webkit-scrollbar {
            width: 15px;
        }
        ::-webkit-scrollbar-track {
            background: rgb(37, 37, 37); 
        }
        ::-webkit-scrollbar-thumb {
            background: #333; 
            border-radius: 25px;
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #555; 
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
    </style>
</head>
<body>
    <a class="back" href="/hurghada/home">     <p class="back">←</p>    </a>
    <div id="image-1-big" class="image-end-1-big invisible"></div>
    <div class="translation">
        <img src="/images/1200px-Flag_of_the_United_States.svg.png" class="translation-btn-usa" id="translation-btn-usa">
        <img src="/images/1200px-Flag_of_Romania.svg.png" class="translation-btn-ro" id="translation-btn-ro">
    </div>
    <h1>Acvariu</h1>
    <p id="paragraph-ro" class="paragraph">
        Marele Acvariu din Hurghada este cel mai mare din Orientul Mijlociu ,este un centru de divertisment unde va puteti familiariza cu tot felul de vietăți marine , pești, reptile , păsări si animale exotice ,multe experiente interesante si neobișnuite va asteapta.Pe teritoriul său există o grădină zoologică, un acvariu imens , terase si magazine pentru suveniruri .<br><br>       
        Pret:<br>
        Adult: 30 €<br>
        Copil: 15 €<br><br>
        Cand:<br>
        in fiecare zi, intreaba ghidul<br><br>
        Copii  de la 0 - 4 ani gratuit ,4 - 10 ani achita jumatate de pret iar de la 11 ani achita pret integral
    </p>
    <p id="paragraph-usa" class="paragraph invisible">
        The Great Aquarium of Hurghada is the largest in the Middle East, it is an entertainment center where you can get acquainted with all kinds of marine life, fish, reptiles, birds and exotic animals, many interesting and unusual experiences await you. On its territory there is a zoo, a huge aquarium, terraces and souvenir shops. 
        <br><br>
        Price:<br>
        Adult: 30 €<br>
        Child: 15 €
        <br><br>
        When:<br>
        every day asks the guide<br><br>
        The children's from 0 - 4 years free, 4 - 10 years pay half price and from 11 years pay full price
    </p>
    <div class="images-section" id="images-section">
        <div id="image-1" class="image-end-1"></div>
    </div>
</body>
<script>
    const image1 = document.getElementById("image-1")
    const imageBig1 = document.getElementById("image-1-big")
    const body = document.querySelector("body")

    image1.addEventListener("click", ()=>{
        imageBig1.classList.remove("invisible")
        body.classList.add("dark")
        image1.classList.add("invisible")
    })

    imageBig1.addEventListener("click", ()=>{
        imageBig1.classList.add("invisible")
        body.classList.remove("dark")
        image1.classList.remove("invisible")
    })

    const translateBtnUsa = document.getElementById("translation-btn-usa")
    const translateBtnRo = document.getElementById("translation-btn-ro")
    const paragraphUsa = document.getElementById("paragraph-usa")
    const paragraphRo = document.getElementById("paragraph-ro")

    translateBtnUsa.addEventListener("click", ()=>{
        paragraphUsa.classList.remove("invisible")
        paragraphRo.classList.add("invisible")
    })

    translateBtnRo.addEventListener("click", ()=>{
        paragraphUsa.classList.add("invisible")
        paragraphRo.classList.remove("invisible")
    })

</script>
</html>