<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acvariu</title>
    <style>
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
        .paragraph{
            font-size: 25px;
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
    </style>
</head>
<body>
    <a class="back" href="/hurghada/home">     <p class="back">←</p>    </a>
    <h1>Acvariu</h1>
    <p class="paragraph">
        Marele Acvariu din Hurghada este cel mai mare din Orientul Mijlociu ,este un centru de divertisment unde va puteti familiariza cu tot felul de vietăți marine , pești, reptile , păsări si animale exotice ,multe experiente interesante si neobișnuite va asteapta.Pe teritoriul său există o grădină zoologică, un acvariu imens , terase si magazine pentru suveniruri .<br><br>        Pret:<br>
        Adult: 30 €<br>
        Copil: 15 €<br><br>
        Cand:<br>
        in fiecare zi, intreaba ghidul<br><br>
        Copii  de la 0 -4 ani gratuit ,4-10 ani achita jumatate de pret iar de la 11 ani achita pret integral
    </p>
</body>
</html>