<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batiskaf</title>
    <style>
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
        .paragraph{
            font-size: 25px;
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
    </style>
</head>
<body>
    <a class="back" href="/hurghada/home">     <p class="back">←</p>    </a>
    <h1>Aswan Abu Sibel</h1>
    <p class="paragraph">
        Vizita la Templul Abu Simbel cu masina privata ,este inclusa masa  ghidul si biletul de intrare.
        Plecarea din Hurghada se face dimineata in jurul orei 5:00  si o sa ajungem in jurul orei 13 :30 ,vizitam templul Fiela si obelisc incomplet dupa care o sa mergem la masa (masa nu este inclusa),dupa care  se poate face Optional insula plantelor unde exista aproape 2000 de specii de plante si copaci din toata lumea si  este cea mai mare insula de pe fuviul Nil si mergem cu barca la satul Nubitilor unde o sa vedeti viata lor si cum cresc crocodili .De pe  barca o sa vedeti un peisaj unic ,piatra de Nil ,nisip si verdeata.Aceasta calatorie dureaza in jur de 1 ora dupa care ne intoarcem la hotel si la ora 4 dimineata plecam la templul Abusibel dupa care nu intoarcem in Hurghada.<br><br>
        Pret:<br>
        depinde de numarul de persoane<br><br>
        Cand:<br>
        intreaba ghidul
    </p>
</body>
</html>