<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cairo Economic</title>
    <style>
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
        .paragraph{
            font-size: 25px;
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
    </style>
</head>
<body>
    <a class="back" href="/hurghada/home">     <p class="back">←</p>    </a>
    <h1>Cairo Economic</h1>
    <p class="paragraph">
        Cairo taramul legendelor si piramidelor ,prima si cea mai importanta dintre cele 7 minuni ale lumii antice ,capitala limbii arabe ,orasul tuturor timpurilor ce isi are inceputurile din  vremea faraonilor.
        Programul include : transportul cu microbuzul sau autocarul ,ghid vorbitor de limba  engleza ,pranz fara bauturi (bauturile sunt contra cost).Biletele de intrare la obiectivele mentionate in program..
        Vizitarea piramidelor din Giza ,Sfinxul,  Moscheea Amr Ibn al -As  ,Bisetica Agatata sau  Biserica Suspendata deorece este pe o colina inalta ,mai sus de ruinele cetatii Babilon si vom  incheea cu  shoping.
        Optional se poate face plimbare cu barca pe Nil  si  plimbare cu camila la piramide contra cost.
        Plecarea  va fi in jurul orei 01: 00 in functie de hotelul unde sunteti cazati iar sosirea in jurul orei 22 : 30 in functie de hotelul unde sunteti cazati si de trafic
        <br><br>
        Pret:<br>
        Adult: 40 €<br>
        Copil: 22 €<br><br>
        Cand:<br>
        sambata, luni si miercuri
    </p>
</body>
</html>