<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excursie cu avionul din  Hurghada  la Cairo</title>
    <style>
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
        .paragraph{
            font-size: 25px;
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
    </style>
</head>
<body>
    <a class="back" href="/hurghada/home">     <p class="back">←</p>    </a>
    <h1>Excursie cu avionul din  Hurghada  la Cairo</h1>
    <p class="paragraph">
        Dacă ați ajuns în Hurghada ,cu siguranță veți dori sa vizitați cel mai mare oraș din Africa ,Cairo.
        Autocarul nostru va va lua de la hotelul unde sunteți cazați si vă va duce la aeroport pentru zborul spre Cairo .
        <br><br>
        Include:<br>
        * Transferul<br>
        * Biletul de avion<br>
        * Biletul de intrare la muzeu<br>
        * Ghidul<br>
        * Pranzul care va fi servit la un restaurant de pe Nil<br>
        * Vom vizita Piramidele și Sfinxul<br>
        * Opțional: - plimbare cu camila la Piramide <br>
                    - plimbare cu barca pe Nil<br>
        <br><br>
        Pret:<br>
        Adult: 205 €<br>
        Copil: 200 €<br><br>
        Cand:<br>
        intreaba ghidul
    </p>
</body>
</html>