<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d32220bc2b.js" crossorigin="anonymous"></script>
    <title>Hurghada</title>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        .excursion-end-i{
            text-decoration: none;
            color: black;
            font-size: 27px;
            height: 50px;
            width: 800px;
            padding: 10px;
            position: relative;
            margin: 10px;
        }
        .excursions{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 350px;
        }
        .excursion-end{
            margin-top: 75px;
            margin-left: 15px;
            margin-bottom: 15px;
            text-decoration: none;
            color: black;
            font-size: 27px;
            width: 1430px;
            position: relative;
        }
        .excursion{
            margin: 20px;
            text-decoration: none;
            color: black;
            font-size: 27px;
            height: 50px;
            width: 300px;
            padding: 10px;
        }
        ::-webkit-scrollbar {
            width: 15px;
        }
        ::-webkit-scrollbar-track {
            background: rgb(37, 37, 37); 
        }
        ::-webkit-scrollbar-thumb {
            background: #333; 
            border-radius: 25px;
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #555; 
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
            width: 50px;
            position: relative;
        }
        .invisible{
            display: none;
            top: -1000000px;
        }
        .card{
            align-content: center;
            justify-content: center;
            height: 340px;
            width: 260px;
            border-radius: 10px;
            padding-top:  8px;
            padding-left:  8px;
            cursor: pointer;
        }
        .trip-card{
            text-align: center;
            color: white;
            position: relative;
            margin-top: -2px;
            font-size: 26px;
        }
        .card:hover{
            background-color: rgb(219, 219, 219);
            height: 380px;
            color: black;
        }

        .trip-card:hover{
            color: black;
        }

        /*                                                             Card images    */
        .image-card-cairo{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://d.newsweek.com/en/full/813669/gettyimages-918637914.jpg");
        }
        .image-card-excursie-cu-avionul-din-hurghada-la-cairo{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://i.redd.it/0drdwf9gw7j41.jpg");
        }
        .image-card-abu-dabbab{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://www.karpaten.ro/media/cache/big_image/images/hotel/10750/s3-malikia-resort-abu-dabbab-ex-sol-y-mar-268885.jpg");
        }
        .image-card-vizitarea-orasului-hurghada{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://galaxytravel.ro/wp-content/uploads/2016/10/hurghada_final_cover.jpg");
        }
        .image-card-excursie-privata{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://superegipt.ro/wp-content/uploads/2018/08/aerial-view.jpg");
        }
        .image-card-manastirea-sfantul-pavel-si-antonie{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://doxologia.ro/sites/default/files/articol/2015/09/manastirea_sfantului_antonie.jpg");
        }
        .image-card-aswan-abu-sibel{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://www.marsaalamtours.com/ro/data1/images/Excursii-de-2-zile-la-Aswan-si-Abu-simble-de-la-Hurghada/4.jpg");
        }
        .image-card-acvariu{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://mediaim.expedia.com/localexpert/2077084/08353012-2b14-4711-ac13-a913cb5780e1.jpg?impolicy=resizecrop&rw=1005&rh=565");
        }
        .image-card-dolphin-show{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://excursiihurghada.ro/images/activitate/jpeg/425_px/6181a03f3c5b9301eb578700_1635885851571.jpg");
        }
        .image-card-batiskaf{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://excursiihurghada.ro/images/undefined/jpeg/1024_px/5f2c50343e2d6a641d62c492_1596821340638.jpg");
        }
        .image-card-submarin-sindbad{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://nile-voyage.com/home/wp-content/uploads/2020/04/Submarinul-Sindbad-din-Hurghada-7.jpg");
        }
        .image-card-scufundari{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://www.tripsavvy.com/thmb/AIiNbdjY4ZXYKIDPdoRe9f1MclA=/2121x1193/smart/filters:no_upscale()/egypt--red-sea--hurghada--young-woman-snorkeling-at-coral-reef-926722356-5269429ca25a49d8877b57ab4a249856.jpg");
        }
        .image-card-paraseling{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://nile-voyage.com/home/wp-content/uploads/2020/10/Parasiutas-is-Hurgados-parasailing-www.nile-voyage.com-6.jpg");
        }
        .image-card-casa-delfinilor{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://cdn.getyourguide.com/img/tour/5d5bddc969a18.jpeg/146.jpg");
        }
        .image-card-insula-paradise{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://api.seeplaces.com/Storage/Static/Images/3ed42a82-9438-4b02-9fcc-9f75294c7d91.jpg?width=800&quality=85");
        }
        .image-card-insula-orange-bay{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://excursiihurghada.ro/images/undefined/jpeg/1024_px/5f2c4f9f3e2d6a641d62c468_1596870355242.jpg");
        }

        .image-card-moto-safari-3-ore{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://nile-voyage.com/home/wp-content/uploads/2020/04/Safari-cu-ATV-UL-3-ore-diminea%C8%9Ba-3-Copy.jpg");
        }
        .image-card-express-safari-5-ore {
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("  https://media.tacdn.com/media/attractions-splice-spp-674x446/06/75/85/8e.jpg");
        }
        .image-card-safari-oasis{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://discovering-egypt.com/new/wp-content/uploads/2012/11/desert-safari-1.jpg");
        }
        .image-card-super-safari{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://www.tripsinegypt.com/wp-content/uploads/2018/11/EL-Gouna-Super-Safari-by-Quads-Trips-in-Egypt-3.jpg");
        }
        .image-card-luxor-economic{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://www.vacante-excursii.ro/storage/uploads/teba3-1597065785.jpg");
        }
        .image-card-luxor-valea-reginelor{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://www.misronatours.com/prog/309664792.jpg");
        }
        .image-card-cairo-economic{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://cdn.britannica.com/85/99185-050-E1110E5C/Great-Sphinx-Giza-Egypt.jpg");
        }
        .image-card-super-luxor{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("/images/5f2d8a233e2d6a641d62c631_1634319553914.jpg");
        }
        .end-page{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: black;
            height: 120px;
            width: 100%;
            bottom: 0;
            position: relative;
            margin-top: 250px;
        }
        .icon{
            color: white;
            position: relative;
            font-size: 25px;
            text-decoration: none;
            margin: 35px;
        }
        .end-img:hover{
            color: rgb(194, 194, 194);
        }
        .end-img-facebook{
            height: 80px;
            width: 80px;
            color: white;
        }
        .black{
            color: black;
        }
        .end-img{
            height: 60px;
            width: 60px;
            color: white;
            margin: 15px;
        }
        @media (max-width: 600px) {
            .end-page{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background-color: black;
                height: 120px;
                width: 260vw;
                bottom: 0;
                position: relative;
                margin-top: 550px;
            }
            .trip-card{
                text-align: center;
                color: black;
                position: relative;
                margin-top: -2px;
                font-size: 26px;
            }
        }
        .on{
            background-color: green;
            color: white;
            font-weight: bold;
            position: absolute;
            height: 40px;
            width: 40px;
            padding: 7px;
            margin-left: 1200px;
            cursor: pointer;
            border-radius: 50%;
            text-align: center;
        }
        .off{
            background-color: red;
            color: white;
            font-weight: bold;
            position: absolute;
            height: 40px;
            width: 40px;
            padding: 7px;
            margin-left: 1200px;
            cursor: pointer;
            border-radius: 50%;
            text-align: center;
        }
        @keyframes rotate{
            0%{
                transform: rotate(0deg);
            }
            100%{
                transform: rotate(360deg);
            }
        }

        @keyframes backgroundup{
            0%{
                background-color: rgba(107, 107, 107, 0);
            }
            25%{
                background-color: rgba(122, 122, 122, 0.178);
            }
            50%{
                background-color: rgba(121, 121, 121, 0.438);
            }
            75%{
                background-color: rgba(119, 119, 119, 0.685);
            }
            100%{
                background-color: rgb(128, 128, 128);
            }
        }
        .rotate{
            animation: rotate 0.3s ease-in-out forwards;
        }
        .background{
            animation: backgroundcl 0.1s ease-in-out forwards;
        }
        .wheel{
            height: 60px;
            width: 60px;
            position: absolute;
            margin-left: 1300px;
            cursor: pointer;
            border-radius: 10px;
        }
        @keyframes appear{
            0%{
                right: -100px;
            }
            100%{
                right: 180px;
            }
        }
        .white{
            color: white;
        }
        .appear{
            animation: appear ease-in-out 0.4s;
        }
        .setting{
            animation: backgroundup 0.9s ease-in-out forwards;
            width: 400px;
            height: auto;
            background-color: rebeccapurple;
        }
        .start{
            margin: 50px;
        }
        .title-text{
            font-size: 24px;
            font-weight: bold;
            position: absolute;
            margin-left: 950px;
            width: 500px;
        }
        .first{
            font-weight: bolder;
            font-size: 40px;
            position: absolute;
            margin-left: 600px;
        }
    </style>
</head>
<body>
    <div class="start">
        <a class="back" href="/">     <p class="back">←</p>    </a>
        <h1 class="first">Hurghada</h1>
        <div class="setting">
            <img src="/images/settings.png" id="wheel" class="wheel">
                <p class="title-text invisible" id="title-text">Vizibilitatea titlurilor:</p>
                <p class="on invisible" id="on">On</p>
                <p class="off invisible" id="off">Off</p>
        </div>
    </div>
    <div id="normal1" class="excursions">
        <a class="excursion" href="/hurghada/cairo">
            <div class="card">
                <img class="image-card-cairo">
                <p id="trip-card1" class="trip-card">Cairo</p>
            </div>
        </a>
        <a class="excursion" href="/hurghada/cairo-economic">
            <div class="card">
                <img class="image-card-cairo-economic">
                <p id="trip-card2" class="trip-card">Cairo Economic</p>
            </div>
        </a>
        <a class="excursion" href="/hurghada/super-luxor">
            <div class="card">
                <img class="image-card-super-luxor">
                <p id="trip-card3" class="trip-card">Super Luxor</p>
            </div>
        </a>
        <a class="excursion" href="/hurghada/luxor-valea-reginelor">
            <div class="card">
                <img class="image-card-luxor-valea-reginelor">
                <p id="trip-card4" class="trip-card">Luxor Valea Reginelor</p>
            </div>
        </a>
    </div>

    <div id="normal2" class="excursions">
        <a class="excursion" href="/hurghada/luxor-economic">
            <div class="card">
                <img class="image-card-luxor-economic">
                <p id="trip-card5" class="trip-card">Luxor Economic</p>
            </div>
        </a>
        <a class="excursion" href="/hurghada/super-safari">
            <div class="card">
                <img class="image-card-super-safari">
                <p id="trip-card6" class="trip-card">Super Safari</p>
            </div>
        </a>
        <a class="excursion" href="/hurghada/safari-oasis">
            <div class="card">
                <img class="image-card-safari-oasis">
                <p id="trip-card7" class="trip-card">Safari Oasis</p>
            </div>
        </a>
        <a class="excursion" href="/hurghada/express-safari-5-ore">
            <div class="card">
                <img class="image-card-express-safari-5-ore">
                <p id="trip-card8" class="trip-card">Express Safari 5 Ore</p>
            </div> 
        </a>
        </div>

        <div id="normal3" class="excursions">
            <a class="excursion" href="/hurghada/moto-safari-3-ore">
                <div class="card">
                    <img class="image-card-moto-safari-3-ore">
                    <p id="trip-card9" class="trip-card">Moto Safari 3 Ore</p>
                </div>     
            </a>
            <a class="excursion" href="/hurghada/insula-orange-bay">
                <div class="card">
                    <img class="image-card-insula-orange-bay">
                    <p id="trip-card10" class="trip-card">Insula Orange Bay</p>
                </div>     
            </a>
            <a class="excursion" href="/hurghada/insula-paradise">
                <div class="card">
                    <img class="image-card-insula-paradise">
                    <p id="trip-card11" class="trip-card">Insula Paradise</p>
                </div>     
            </a>
            <a class="excursion" href="/hurghada/casa-delfinilor">
                <div class="card">
                    <img class="image-card-casa-delfinilor">
                    <p id="trip-card12" class="trip-card">Casa Delfinilor</p>
                </div>     
            </a>
        </div>   

        <div id="normal4" class="excursions">
            <a class="excursion" href="/hurghada/paraseling">
                <div class="card">
                    <img class="image-card-paraseling">
                    <p id="trip-card13" class="trip-card">Paraseling</p>
                </div>     
            </a>
            <a class="excursion" href="/hurghada/scufundari">
                <div class="card">
                    <img class="image-card-scufundari">
                    <p id="trip-card14" class="trip-card">Scufundari</p>
                </div>     
            </a>
            <a class="excursion" href="/hurghada/submarin-sindbad">
                <div class="card">
                    <img class="image-card-submarin-sindbad">
                    <p id="trip-card15" class="trip-card">Submarin Sindbad</p>
                </div>     
            </a>
            <a class="excursion" href="/hurghada/batiskaf">
                <div class="card">
                    <img class="image-card-batiskaf">
                    <p id="trip-card16" class="trip-card">Batiskaf</p>
                </div>     
            </a>
        </div>    

        <div id="normal5" class="excursions">
            <a class="excursion" href="/hurghada/dolphin-show">
                <div class="card">
                    <img class="image-card-dolphin-show">
                    <p id="trip-card17" class="trip-card">Dolphin Show</p>
                </div>     
            </a>
            <a class="excursion" href="/hurghada/acvariu">
                <div class="card">
                    <img class="image-card-acvariu">
                    <p id="trip-card18" class="trip-card">Acvariu</p>
                </div>     
            </a>
            <a class="excursion" href="/hurghada/aswan-abu-sibel">
                <div class="card">
                    <img class="image-card-aswan-abu-sibel">
                    <p id="trip-card19" class="trip-card">Aswan Abu Sibel</p>
                </div>     
            </a>
            <a class="excursion" href="/hurghada/manastirea-sfantul-pavel-si-antonie">
                <div class="card">
                    <img class="image-card-manastirea-sfantul-pavel-si-antonie">
                    <p id="trip-card20" class="trip-card">Manastirea Sf. Pavel si Antonie</p>
                </div>     
            </a>
        </div>    

        <div id="normal6" class="excursions">
            <a class="excursion" href="/hurghada/excursie-privata">
                <div class="card">
                    <img class="image-card-excursie-privata">
                    <p id="trip-card21" class="trip-card">Excursie Privata</p>
                </div>     
            </a>
            <a class="excursion" href="/hurghada/vizitarea-orasului-hurghada">
                <div class="card">
                    <img class="image-card-vizitarea-orasului-hurghada">
                    <p id="trip-card22" class="trip-card">Vizitarea Orasului Hurghada</p>
                </div>     
            </a>
            <a class="excursion" href="/hurghada/abu-dabbab">
                <div class="card">
                    <img class="image-card-abu-dabbab">
                    <p id="trip-card23" class="trip-card">Abu Dabbab</p>
                </div>     
            </a>
            <a class="excursion" href="/hurghada/excursie-cu-avionul-din-hurghada-la-cairo">
                <div class="card">
                    <img class="image-card-excursie-cu-avionul-din-hurghada-la-cairo">
                    <p id="trip-card24" class="trip-card"> Excursie cu avionul din  Hurghada  la Cairo	</p>
                </div>     
            </a>        
        
        </div>    

    </div>    
    <div class="end">
        <p class="excursion-end">
            * Copiii cu varsta inre 0-5 ani au gratuitate. <br>
            * Copii cu varsta intre 5 ani si 11 ani platesc 50% din valoarea biletului . <br>
            * Copii  cu varsta peste 11 ani platesc biletul integral.<br>
            * Transferul de la hotel  este inclus in pret pentru hotelurile din Hurghada.<br>
            * Pentru hotelurile din Sahl  Hashish,Makadi Bay ,Suma Bay si El Guna se plateste transferul in functie de numarul de persoane.
            <br>* Dragi turisti pentru intrebari va rugam sa va adresati ghidului dumneavoastra;<br>
            * Rezervarea excursiilor se face dimineata cu cel putin  o zi inainte .<br>
        </p>
        <h1>Dragi turisti</h1>
        <p class="excursion-end-i">
            El Majico  ține sa va aduca  la cunoștință faptul că Clinica privata ALFA din Hurghada asigura asistenta medicala gratuita tuturor turistilor care vizitează Hurghada și au încheiat o polița de asigurare în România de către agenția de turism cu care urmează sa plecați in vacanta.<br>
            Clinica ALFA are mai multe secții de specialitate. <br>
            Transferul de la hotel la spitalul ALFA este gratuit.<br>
            Singura asigurare medicala care nu este valabila este cea încheiată cu firma Grhoma.
        </p>
    </div>
    <div class="end-page">
        <a class="icon" target="_blank" href="https://www.facebook.com/profile.php?id=100057490687559&is_tour_dismissed=true"> <img class="end-img-facebook" src="/images/facebook-logo-png-white-facebook-logo-png-white-facebook-icon-png--32.png"> </a>
        <a class="icon" target="_blank" href="https://www.instagram.com/excursii_elmajico/"> <img class="end-img" src="/images/instagram-logo-white-icon-symbol-stencil-text-number-transparent-png-1001134.png"> </a>
        <a class="icon" href="https://excursiihurghada.ro/"> <img class="end-img" src="/images/170-1709508_web-solutions-web-icon-white-png.png"> </a>
        <a class="icon" href="/contact-us"> <img class="end-img" src="/images/-1216105672015k2cwxy9y6.png"> </a>
    </div>
</body>
<script>
        const tripTitle1 = document.getElementById("trip-card1")
        const tripTitle2 = document.getElementById("trip-card2")
        const tripTitle3 = document.getElementById("trip-card3")
        const tripTitle4 = document.getElementById("trip-card4")
        const tripTitle5 = document.getElementById("trip-card5")
        const tripTitle6 = document.getElementById("trip-card6")
        const tripTitle7 = document.getElementById("trip-card7")
        const tripTitle8 = document.getElementById("trip-card8")
        const tripTitle9 = document.getElementById("trip-card9")
        const tripTitle10 = document.getElementById("trip-card10")
        const tripTitle11 = document.getElementById("trip-card11")
        const tripTitle12 = document.getElementById("trip-card12")
        const tripTitle13 = document.getElementById("trip-card13")
        const tripTitle14 = document.getElementById("trip-card14")
        const tripTitle15 = document.getElementById("trip-card15")
        const tripTitle16 = document.getElementById("trip-card16")
        const tripTitle17 = document.getElementById("trip-card17")
        const tripTitle18 = document.getElementById("trip-card18")
        const tripTitle19 = document.getElementById("trip-card19")
        const tripTitle20 = document.getElementById("trip-card20")
        const tripTitle21 = document.getElementById("trip-card21")
        const tripTitle22 = document.getElementById("trip-card22")
        const tripTitle23 = document.getElementById("trip-card23")
        const tripTitle24 = document.getElementById("trip-card24")


    const wheel = document.getElementById("wheel")
    const on = document.getElementById("on")
    const off = document.getElementById("off")
    const titleText = document.getElementById("title-text")

    wheel.addEventListener("click", ()=>{
        wheel.classList.add("rotate")
        setTimeout(() =>{
            on.classList.remove("invisible")
            on.classList.add("appear")
            titleText.classList.remove("invisible")
            titleText.classList.add("appear")
        },350)
        setTimeout(() =>{
            on.classList.remove("appear")
            titleText.classList.remove("appear")
        },500)
    })

    off.addEventListener("click", ()=>{
        tripTitle1.classList.add("white")
        tripTitle2.classList.add("white")
        tripTitle3.classList.add("white")
        tripTitle4.classList.add("white")
        tripTitle5.classList.add("white")
        tripTitle6.classList.add("white")
        tripTitle7.classList.add("white")
        tripTitle8.classList.add("white")
        tripTitle9.classList.add("white")
        tripTitle10.classList.add("white")
        tripTitle11.classList.add("white")
        tripTitle12.classList.add("white")
        tripTitle13.classList.add("white")
        tripTitle14.classList.add("white")
        tripTitle15.classList.add("white")
        tripTitle16.classList.add("white")
        tripTitle17.classList.add("white")
        tripTitle18.classList.add("white")
        tripTitle19.classList.add("white")
        tripTitle20.classList.add("white")
        tripTitle21.classList.add("white")
        tripTitle22.classList.add("white")
        tripTitle23.classList.add("white")
        tripTitle24.classList.add("white")
        off.classList.add("invisible")
        on.classList.remove("invisible")

        tripTitle1.classList.remove("black")
        tripTitle2.classList.remove("black")
        tripTitle3.classList.remove("black")
        tripTitle4.classList.remove("black")
        tripTitle5.classList.remove("black")
        tripTitle6.classList.remove("black")
        tripTitle7.classList.remove("black")
        tripTitle8.classList.remove("black")
        tripTitle9.classList.remove("black")
        tripTitle10.classList.remove("black")
        tripTitle11.classList.remove("black")
        tripTitle12.classList.remove("black")
        tripTitle13.classList.remove("black")
        tripTitle14.classList.remove("black")
        tripTitle15.classList.remove("black")
        tripTitle16.classList.remove("black")
        tripTitle17.classList.remove("black")
        tripTitle18.classList.remove("black")
        tripTitle19.classList.remove("black")
        tripTitle20.classList.remove("black")
        tripTitle21.classList.remove("black")
        tripTitle22.classList.remove("black")
        tripTitle23.classList.remove("black")
        tripTitle24.classList.remove("black")
    })

    on.addEventListener("click", ()=>{
        tripTitle1.classList.add("black")
        tripTitle2.classList.add("black")
        tripTitle3.classList.add("black")
        tripTitle4.classList.add("black")
        tripTitle5.classList.add("black")
        tripTitle6.classList.add("black")
        tripTitle7.classList.add("black")
        tripTitle8.classList.add("black")
        tripTitle9.classList.add("black")
        tripTitle10.classList.add("black")
        tripTitle11.classList.add("black")
        tripTitle12.classList.add("black")
        tripTitle13.classList.add("black")
        tripTitle14.classList.add("black")
        tripTitle15.classList.add("black")
        tripTitle16.classList.add("black")
        tripTitle17.classList.add("black")
        tripTitle18.classList.add("black")
        tripTitle19.classList.add("black")
        tripTitle20.classList.add("black")
        tripTitle21.classList.add("black")
        tripTitle22.classList.add("black")
        tripTitle23.classList.add("black")
        tripTitle24.classList.add("black")
        off.classList.remove("invisible")
        on.classList.add("invisible")

        tripTitle1.classList.remove("white")
        tripTitle2.classList.remove("white")
        tripTitle3.classList.remove("white")
        tripTitle4.classList.remove("white")
        tripTitle5.classList.remove("white")
        tripTitle6.classList.remove("white")
        tripTitle7.classList.remove("white")
        tripTitle8.classList.remove("white")
        tripTitle9.classList.remove("white")
        tripTitle10.classList.remove("white")
        tripTitle11.classList.remove("white")
        tripTitle12.classList.remove("white")
        tripTitle13.classList.remove("white")
        tripTitle14.classList.remove("white")
        tripTitle15.classList.remove("white")
        tripTitle16.classList.remove("white")
        tripTitle17.classList.remove("white")
        tripTitle18.classList.remove("white")
        tripTitle19.classList.remove("white")
        tripTitle20.classList.remove("white")
        tripTitle21.classList.remove("white")
        tripTitle22.classList.remove("white")
        tripTitle23.classList.remove("white")
        tripTitle24.classList.remove("white")
    })

    const translateBtnUsa = document.getElementById("translation-btn-usa")
    const translateBtnRo = document.getElementById("translation-btn-ro")
    const paragraphUsa = document.getElementById("paragraph-usa")
    const paragraphRo = document.getElementById("paragraph-ro")

    translateBtnUsa.addEventListener("click", ()=>{
        paragraphUsa.classList.remove("invisible")
        normalContext.classList.add("invisible")
        alfabetBtn.classList.add("invisible")
        classicBtn.classList.add("invisible")
    })

    translateBtnRo.addEventListener("click", ()=>{
        paragraphUsa.classList.add("invisible")
        normalContext.classList.remove("invisible")
        classicBtn.classList.add("invisible")
        alfabetBtn.classList.add("invisible")
    })

</script>
</html>