<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d32220bc2b.js" crossorigin="anonymous"></script>
    <title>Hurghada</title>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            max-width: 287vw;
        }
        .excursion-end-i{
            text-decoration: none;
            color: black;
            font-size: 27px;
            height: 50px;
            width: 800px;
            padding: 10px;
            position: relative;
            margin: 10px;
        }
        .excursions{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 375px;
        }
        .excursion-end{
            margin-top: 75px;
            margin-left: 15px;
            margin-bottom: 15px;
            text-decoration: none;
            color: black;
            font-size: 27px;
            width: 1430px;
            position: relative;
        }
        .excursion{
            margin: 20px;
            text-decoration: none;
            color: black;
            font-size: 27px;
            height: 50px;
            width: 300px;
            padding: 10px;
        }
        ::-webkit-scrollbar {
            width: 15px;
        }
        ::-webkit-scrollbar-track {
            background: rgb(37, 37, 37); 
        }
        ::-webkit-scrollbar-thumb {
            background: #333; 
            border-radius: 25px;
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #555; 
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
            width: 50px;
            position: relative;
        }
        .invisible{
            position: absolute;
            display: none;
            left: -1000000px;
        }
        .card{
            align-content: center;
            justify-content: center;
            height: 340px;
            width: 260px;
            border-radius: 10px;
            padding-top:  8px;
            padding-left:  8px;
            cursor: pointer;
        }
        .trip-card{
            text-align: center;
            color: white;
            position: relative;
            margin-top: -2px;
            font-size: 26px;
        }
        .card:hover{
            background-color: rgb(219, 219, 219);
            height: 380px;
            color: black;
        }

        .trip-card:hover{
            color: black;
        }

        /*                                                             Card images    */
        .image-card-cairo{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://d.newsweek.com/en/full/813669/gettyimages-918637914.jpg");
        }
        .image-card-excursie-cu-balonul{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://media.tacdn.com/media/attractions-splice-spp-674x446/07/2b/cb/c5.jpg");
        }
        .image-card-admirarea-stelelor{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://theculturetrip.com/wp-content/uploads/2018/03/shutterstock_163072913.jpg");
        }
        .image-card-echitatie-in-desert-si-pe-plaja{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://www.farandride.com/images/photos/banner/bde340b13.jpg");
        }
        .image-card-excursie-cu-avionul-din-hurghada-la-cairo{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://i.redd.it/0drdwf9gw7j41.jpg");
        }
        .image-card-abu-dabbab{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://www.karpaten.ro/media/cache/big_image/images/hotel/10750/s3-malikia-resort-abu-dabbab-ex-sol-y-mar-268885.jpg");
        }
        .image-card-vizitarea-orasului-hurghada{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://galaxytravel.ro/wp-content/uploads/2016/10/hurghada_final_cover.jpg");
        }
        .image-card-excursie-privata{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://superegipt.ro/wp-content/uploads/2018/08/aerial-view.jpg");
        }
        .image-card-manastirea-sfantul-pavel-si-antonie{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://doxologia.ro/sites/default/files/articol/2015/09/manastirea_sfantului_antonie.jpg");
        }
        .image-card-aswan-abu-sibel{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://www.marsaalamtours.com/ro/data1/images/Excursii-de-2-zile-la-Aswan-si-Abu-simble-de-la-Hurghada/4.jpg");
        }
        .image-card-acvariu{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://mediaim.expedia.com/localexpert/2077084/08353012-2b14-4711-ac13-a913cb5780e1.jpg?impolicy=resizecrop&rw=1005&rh=565");
        }
        .image-card-dolphin-show{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://excursiihurghada.ro/images/activitate/jpeg/425_px/6181a03f3c5b9301eb578700_1635885851571.jpg");
        }
        .image-card-batiskaf{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://excursiihurghada.ro/images/undefined/jpeg/1024_px/5f2c50343e2d6a641d62c492_1596821340638.jpg");
        }
        .image-card-submarin-sindbad{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://nile-voyage.com/home/wp-content/uploads/2020/04/Submarinul-Sindbad-din-Hurghada-7.jpg");
        }
        .image-card-scufundari{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://www.tripsavvy.com/thmb/AIiNbdjY4ZXYKIDPdoRe9f1MclA=/2121x1193/smart/filters:no_upscale()/egypt--red-sea--hurghada--young-woman-snorkeling-at-coral-reef-926722356-5269429ca25a49d8877b57ab4a249856.jpg");
        }
        .image-card-paraseling{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://nile-voyage.com/home/wp-content/uploads/2020/10/Parasiutas-is-Hurgados-parasailing-www.nile-voyage.com-6.jpg");
        }
        .image-card-casa-delfinilor{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://cdn.getyourguide.com/img/tour/5d5bddc969a18.jpeg/146.jpg");
        }
        .image-card-insula-paradise{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://api.seeplaces.com/Storage/Static/Images/3ed42a82-9438-4b02-9fcc-9f75294c7d91.jpg?width=800&quality=85");
        }
        .image-card-insula-orange-bay{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://excursiihurghada.ro/images/undefined/jpeg/1024_px/5f2c4f9f3e2d6a641d62c468_1596870355242.jpg");
        }

        .image-card-moto-safari-3-ore{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://nile-voyage.com/home/wp-content/uploads/2020/04/Safari-cu-ATV-UL-3-ore-diminea%C8%9Ba-3-Copy.jpg");
        }
        .image-card-express-safari-5-ore {
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("  https://media.tacdn.com/media/attractions-splice-spp-674x446/06/75/85/8e.jpg");
        }
        .image-card-safari-oasis{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://discovering-egypt.com/new/wp-content/uploads/2012/11/desert-safari-1.jpg");
        }
        .image-card-super-safari{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://www.tripsinegypt.com/wp-content/uploads/2018/11/EL-Gouna-Super-Safari-by-Quads-Trips-in-Egypt-3.jpg");
        }
        .image-card-luxor-economic{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://www.vacante-excursii.ro/storage/uploads/teba3-1597065785.jpg");
        }
        .image-card-luxor-valea-reginelor{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://www.misronatours.com/prog/309664792.jpg");
        }
        .image-card-cairo-economic{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://cdn.britannica.com/85/99185-050-E1110E5C/Great-Sphinx-Giza-Egypt.jpg");
        }
        .image-card-super-luxor{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("/images/5f2d8a233e2d6a641d62c631_1634319553914.jpg");
        }
        .image-card-hammam{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://nile-voyage.com/home/wp-content/uploads/2020/07/Turkish-bath-and-massage-in-Hurghada-www.nile-voyage.com_.-18.jpg");
        }
        .image-card-hammam-cleopatra{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://italyxp.com/sites/default/files/styles/colorbox_gallery_xp/public/mediaitalyxp/bigstock-Young-woman-in-hammam-or-turki-21199097.jpg?width=820&height=620&iframe=true");
        }
        .image-card-hammam-cleopatra-plus{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://www.trivaeg.com/wp-content/uploads/2019/10/turkish-bath.jpg");
        }
        .end-page{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: black;
            height: 120px;
            width: 100%vw;
            bottom: 0;
            position: relative;
            margin-top: 250px;
        }
        .icon{
            color: white;
            position: relative;
            font-size: 25px;
            text-decoration: none;
            margin: 35px;
        }
        .end-img:hover{
            color: rgb(194, 194, 194);
        }
        .end-img-facebook{
            height: 80px;
            width: 80px;
            color: white;
        }
        .black{
            color: black;
        }
        .translation-btn-usa{
            position: absolute;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            cursor: pointer;
            margin-top: -80px;
            margin-left: 1300px;
        }
        .translation-btn-ro{
            position: absolute;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            cursor: pointer;
            margin-top: -80px;
            margin-left: 1390px;
        }
        .end-img{
            height: 60px;
            width: 60px;
            color: white;
            margin: 15px;
        }
        @media (max-width: 600px) {
            .end-page{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background-color: black;
                height: 120px;
                width: 288vw;
                bottom: 0;
                position: relative;
                margin-top: 550px;
            }
            .excursions{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 380px;
            }
            .excursion-end{
                text-decoration: none;
                color: black;
                font-size: 27px;
                height: 50px;
                width: 280vw;
                padding: 10px;
                position: relative;
                margin: 300px 10px;
            }
            .excursion-end-i{
                text-decoration: none;
                color: black;
                font-size: 27px;
                height: 50px;
                width: 280vw;
                padding: 10px;
                position: relative;
                margin: 10px;
            }
            .trip-card{
                text-align: center;
                color: black;
                position: relative;
                margin-top: -2px;
                font-size: 26px;
            }
        }
        .on{
            background-color: green;
            color: white;
            font-weight: bold;
            position: absolute;
            height: 40px;
            width: 40px;
            padding: 7px;
            margin-left: 1200px;
            cursor: pointer;
            border-radius: 50%;
            text-align: center;
        }
        .off{
            background-color: red;
            color: white;
            font-weight: bold;
            position: absolute;
            height: 40px;
            width: 40px;
            padding: 7px;
            margin-left: 1200px;
            cursor: pointer;
            border-radius: 50%;
            text-align: center;
        }
        @keyframes rotate{
            0%{
                transform: rotate(0deg);
            }
            100%{
                transform: rotate(360deg);
            }
        }
        .rotate{
            animation: rotate 0.3s ease-in-out forwards;
        }
        .wheel{
            height: 60px;
            width: 60px;
            position: absolute;
            margin-left: 1300px;
            cursor: pointer ;
            border-radius: 10px;
        }
        .no-access-cursor{
            cursor: not-allowed ;
        }
        @keyframes appear{
            0%{
                right: -100px;
            }
            100%{
                right: 180px;
            }
        }
        .white{
            color: white;
        }
        .appear{
            animation: appear ease-in-out 0.4s;
        }
        .setting{
            width: 400px;
            height: auto;
        }
        .start{
            margin: 50px;
        }
        .margin-bottom{
            margin-bottom: 500px;
        }
        .title-text{
            font-size: 24px;
            font-weight: bold;
            position: absolute;
            margin-left: 950px;
            width: 500px;
        }
        .first{
            font-weight: bolder;
            font-size: 40px;
            position: absolute;
            margin-left: 600px;
        }
        .next{
            position: absolute;
            font-weight: bolder;
            font-size: 25px;
            margin-left: 1260px;
            cursor: pointer;
        }
        .translate-form{
            position: absolute;
            font-weight: bolder;
            font-size: 25px;
            margin-left: 1090px;
            margin-top: 20px;
            cursor: pointer;
        }
        .previous{
            position: absolute;
            font-weight: bolder;
            font-size: 25px;
            margin-left: 926px;
            cursor: pointer;
        }
        .translation-btn-usa{
            position: absolute;
            margin-top: 7px;
            margin-left: 1130px;
        }
        .translation-btn-ro{
            position: absolute;
            margin-top: 7px;
            margin-left: 1230px;
        }
        .about-link{
            text-decoration: none;
            color: black;
        }
        .about-link:hover{
            color: rgb(58, 58, 58);
        }
        .filter-img{
            margin-left: 250px;
            margin-top: -60px;
            cursor: pointer;
            height: 80px;
            width: 80px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://image.freepik.com/free-vector/filter-control-adjustment-icon-filter-control-settings-icon-vector-illustration_399089-2801.jpg");
        }
        .filter{
            position: absolute;
        }
        .categories{
            margin-left: 250px;
            position: absolute;
            width: 250px;
        }
        .category{
            border-collapse: collapse;
            border: 3px rgb(202, 202, 202) solid;
            background-color: rgba(255, 255, 255, 0.658);
            padding: 10px;
            width: 100%;
            font-weight: bold;
            font-size: 20px;
            color: rgb(99, 99, 99);
            cursor: pointer;
        }
        .category:hover{
            background-color: rgba(221, 221, 221, 0.753);
        }
        .to-top{
            margin-top: -450px;
            position: absolute;
        }
        .to-top2{
            margin-top: -1200px;
        }
        .absolute{
            position: absolute;
        }
        .margin-bottom2{
            margin-bottom: 1300px;
        }
        .to-top3{
            margin-top: -2330px;
        }
        .to-top4{
            margin-top: -800px;
        }
        .margin-bottom4{
            margin-bottom: 900px;
        }
        .to-top1{
            margin-top: -1700px;
        }
        .margin-bottom1{
            margin-bottom: 1800px;
        }
        .excursions-big{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 410px;
        }
    </style>
</head>
<body>
    <div id="start" class="start">
        <a class="back" href="/">     <p class="back">←</p>    </a>
        <div id="filter" class="filter">
            <div id="filter-img" class="filter-img"></div>
            <div class="categories invisible" id="categories">
                <p id="one-day" class="category "> Excursie o zi </p>
                <p id="two-day" class="category "> Excursie doua zile </p>
                <p id="on-sea" class="category "> Excursie pe mare </p>
                <p id="in-desert" class="category "> Safari in desert </p>
                <p id="personalized" class="category "> Excursii personalizate </p>
                <p id="to-airport" class="category "> Transfer aeroport </p>  
            </div>
        </div>
        <a href="/hurghada/about" class="about-link"> <h1 class="first">Hurghada</h1> </a>
        <div class="setting">
            <img src="/images/settings.png" id="wheel" class="wheel">
            <div class="title-visibility">
                <p class="title-text invisible" id="title-text">Vizibilitatea titlurilor:</p>
                <p class="on invisible" id="on">On</p>
                <p class="off invisible" id="off">Off</p>    
            </div>
            <p class="next invisible" id="next"> > </p>
            <p class="previous invisible" id="previous"> < </p>
            <div class="translate-setting">
                <img src="/images/1200px-Flag_of_the_United_States.svg.png" class="translation-btn-usa invisible" id="translation-btn-usa">
                <img src="/images/1200px-Flag_of_Romania.svg.png" class="translation-btn-ro invisible" id="translation-btn-ro">
            </div>
        </div>
    </div>

    <div class="paragraph-ro" id="paragraph-ro">

        <div id="normal1" class="excursions">
            <a id="cairo" class="excursion" href="/hurghada/cairo">
                <div class="card">
                    <img class="image-card-cairo">
                    <p id="trip-card1" class="trip-card">Cairo</p>
                </div>
            </a>
            <a id="cairo-economic" class="excursion" href="/hurghada/cairo-economic">
                <div class="card">
                    <img class="image-card-cairo-economic">
                    <p id="trip-card2" class="trip-card">Cairo Economic</p>
                </div>
            </a>
            <a id="super-luxor" class="excursion" href="/hurghada/super-luxor">
                <div class="card">
                    <img class="image-card-super-luxor">
                    <p id="trip-card3" class="trip-card">Super Luxor</p>
                </div>
            </a>
            <a id="luxor-valea-reginelor" class="excursion" href="/hurghada/luxor-valea-reginelor">
                <div class="card">
                    <img class="image-card-luxor-valea-reginelor">
                    <p id="trip-card4" class="trip-card">Luxor Valea Reginelor</p>
                </div>
            </a>
        </div>
    
        <div id="normal2" class="excursions">
            <a id="luxor-economic" class="excursion" href="/hurghada/luxor-economic">
                <div class="card">
                    <img class="image-card-luxor-economic">
                    <p id="trip-card5" class="trip-card">Luxor Economic</p>
                </div>
            </a>
            <a id="super-safari" class="excursion" href="/hurghada/super-safari">
                <div class="card">
                    <img class="image-card-super-safari">
                    <p id="trip-card6" class="trip-card">Super Safari</p>
                </div>
            </a>
            <a id="safari-oasis" class="excursion" href="/hurghada/safari-oasis">
                <div class="card">
                    <img class="image-card-safari-oasis">
                    <p id="trip-card7" class="trip-card">Safari Oasis</p>
                </div>
            </a>
            <a id="express-safari-5-ore" class="excursion" href="/hurghada/express-safari-5-ore">
                <div class="card">
                    <img class="image-card-express-safari-5-ore">
                    <p id="trip-card8" class="trip-card">Express Safari 5 Ore</p>
                </div> 
            </a>
            </div>
    
            <div id="normal3" class="excursions">
                <a id="moto-safari-3-ore" class="excursion" href="/hurghada/moto-safari-3-ore">
                    <div class="card">
                        <img class="image-card-moto-safari-3-ore">
                        <p id="trip-card9" class="trip-card">Moto Safari 3 Ore</p>
                    </div>     
                </a>
                <a id="insula-orange-bay" class="excursion" href="/hurghada/insula-orange-bay">
                    <div class="card">
                        <img class="image-card-insula-orange-bay">
                        <p id="trip-card10" class="trip-card">Insula Orange Bay</p>
                    </div>     
                </a>
                <a id="insula-paradise" class="excursion" href="/hurghada/insula-paradise">
                    <div class="card">
                        <img class="image-card-insula-paradise">
                        <p id="trip-card11" class="trip-card">Insula Paradise</p>
                    </div>     
                </a>
                <a id="casa-delfinilor" class="excursion" href="/hurghada/casa-delfinilor">
                    <div class="card">
                        <img class="image-card-casa-delfinilor">
                        <p id="trip-card12" class="trip-card">Casa Delfinilor</p>
                    </div>     
                </a>
            </div>   
    
            <div id="normal4" class="excursions">
                <a id="paraseling" class="excursion" href="/hurghada/paraseling">
                    <div class="card">
                        <img class="image-card-paraseling">
                        <p id="trip-card13" class="trip-card">Paraseling</p>
                    </div>     
                </a>
                <a id="scufundari" class="excursion" href="/hurghada/scufundari">
                    <div class="card">
                        <img class="image-card-scufundari">
                        <p id="trip-card14" class="trip-card">Scufundari</p>
                    </div>     
                </a>
                <a id="submarin-sindbad" class="excursion" href="/hurghada/submarin-sindbad">
                    <div class="card">
                        <img class="image-card-submarin-sindbad">
                        <p id="trip-card15" class="trip-card">Submarin Sindbad</p>
                    </div>     
                </a>
                <a id="batiskaf" class="excursion" href="/hurghada/batiskaf">
                    <div class="card">
                        <img class="image-card-batiskaf">
                        <p id="trip-card16" class="trip-card">Batiskaf</p>
                    </div>     
                </a>
            </div>    
    
            <div id="normal5" class="excursions">
                <a id="dolphin-show" class="excursion" href="/hurghada/dolphin-show">
                    <div class="card">
                        <img class="image-card-dolphin-show">
                        <p id="trip-card17" class="trip-card">Dolphin Show</p>
                    </div>     
                </a>
                <a id="acvariu" class="excursion" href="/hurghada/acvariu">
                    <div class="card">
                        <img class="image-card-acvariu">
                        <p id="trip-card18" class="trip-card">Acvariu</p>
                    </div>     
                </a>
                <a id="aswan-abu-sibel" class="excursion" href="/hurghada/aswan-abu-sibel">
                    <div class="card">
                        <img class="image-card-aswan-abu-sibel">
                        <p id="trip-card19" class="trip-card">Aswan Abu Sibel</p>
                    </div>     
                </a>
                <a id="manastirea-sfantul-pavel-si-antonie" class="excursion" href="/hurghada/manastirea-sfantul-pavel-si-antonie">
                    <div class="card">
                        <img class="image-card-manastirea-sfantul-pavel-si-antonie">
                        <p id="trip-card20" class="trip-card">Manastirea Sf. Pavel si Antonie</p>
                    </div>     
                </a>
            </div>    
    
            <div id="normal6" class="excursions">
                <a id="excursie-privata" class="excursion" href="/hurghada/excursie-privata">
                    <div class="card">
                        <img class="image-card-excursie-privata">
                        <p id="trip-card21" class="trip-card">Excursie Privata</p>
                    </div>     
                </a>
                <a id="vizitarea-orasului-hurghada" class="excursion" href="/hurghada/vizitarea-orasului-hurghada">
                    <div class="card">
                        <img class="image-card-vizitarea-orasului-hurghada">
                        <p id="trip-card22" class="trip-card">Vizitarea Orasului Hurghada</p>
                    </div>     
                </a>
                <a id="abu-dabbab" class="excursion" href="/hurghada/abu-dabbab">
                    <div class="card">
                        <img class="image-card-abu-dabbab">
                        <p id="trip-card23" class="trip-card">Abu Dabbab</p>
                    </div>     
                </a>
                <a id="excursie-cu-avionul-din-hurghada-la-cairo" class="excursion" href="/hurghada/excursie-cu-avionul-din-hurghada-la-cairo">
                    <div class="card">
                        <img class="image-card-excursie-cu-avionul-din-hurghada-la-cairo">
                        <p id="trip-card24" class="trip-card"> Excursie cu avionul din  Hurghada  la Cairo	</p>
                    </div>     
                </a>        
            
            </div>

            <div id="normal7" class="excursions">
                <a id="hammam" class="excursion" href="/hurghada/hammam">
                    <div class="card">
                        <img class="image-card-hammam">
                        <p id="trip-card25" class="trip-card">Hammam</p>
                    </div>     
                </a>
                <a id="hammam-cleopatra" class="excursion" href="/hurghada/hammam-cleopatra">
                    <div class="card">
                        <img class="image-card-hammam-cleopatra">
                        <p id="trip-card26" class="trip-card">Hammam Cleopatra</p>
                    </div>     
                </a>
                <a id="hammam-cleopatra-plus" class="excursion" href="/hurghada/hammam-cleopatra-plus">
                    <div class="card">
                        <img class="image-card-hammam-cleopatra-plus">
                        <p id="trip-card27" class="trip-card">Hammam Cleopatra Plus</p>
                    </div>     
                </a>
                <a id="echitatie-in-desert-si-pe-plaja" class="excursion" href="/hurghada/echitatie-in-desert-si-pe-plaja">
                    <div class="card">
                        <img class="image-card-echitatie-in-desert-si-pe-plaja">
                        <p id="trip-card28" class="trip-card">Echitatie in desert si pe plaja</p>
                    </div>     
                </a>
            </div>

            <div id="normal8" class="excursions">
                <a id="admirarea-stelelor" class="excursion" href="/hurghada/admirarea-stelelor">
                    <div class="card">
                        <img class="image-card-admirarea-stelelor">
                        <p id="trip-card29" class="trip-card">Plimbare cu camila si admirarea stelelor</p>
                    </div>     
                </a>
                <a id="excursie-cu-balonul" class="excursion" href="/hurghada/excursie-cu-balonul">
                    <div class="card">
                        <img class="image-card-excursie-cu-balonul">
                        <p id="trip-card30" class="trip-card">Excursie cu balonul</p>
                    </div>     
                </a>
            </div>

    </div>


    <div class="paragraph-usa invisible" id="paragraph-usa">
        
        <div id="normalA" class="excursions">
            <a class="excursion" href="/hurghada/cairo">
                <div class="card">
                    <img class="image-card-cairo">
                    <p id="trip-cardA" class="trip-card">Cairo</p>
                </div>
            </a>
            <a class="excursion" href="/hurghada/cairo-economic">
                <div class="card">
                    <img class="image-card-cairo-economic">
                    <p id="trip-cardB" class="trip-card">Cairo Economic</p>
                </div>
            </a>
            <a class="excursion" href="/hurghada/super-luxor">
                <div class="card">
                    <img class="image-card-super-luxor">
                    <p id="trip-cardC" class="trip-card">Super Luxor</p>
                </div>
            </a>
            <a class="excursion" href="/hurghada/luxor-valea-reginelor">
                <div class="card">
                    <img class="image-card-luxor-valea-reginelor">
                    <p id="trip-cardD" class="trip-card">Luxor Valley of the Queens</p>
                </div>
            </a>
        </div>
    
        <div id="normalB" class="excursions">
            <a class="excursion" href="/hurghada/luxor-economic">
                <div class="card">
                    <img class="image-card-luxor-economic">
                    <p id="trip-cardE" class="trip-card">Luxor Economic</p>
                </div>
            </a>
            <a class="excursion" href="/hurghada/super-safari">
                <div class="card">
                    <img class="image-card-super-safari">
                    <p id="trip-cardF" class="trip-card">Super Safari</p>
                </div>
            </a>
            <a class="excursion" href="/hurghada/safari-oasis">
                <div class="card">
                    <img class="image-card-safari-oasis">
                    <p id="trip-cardG" class="trip-card">Safari Oasis</p>
                </div>
            </a>
            <a class="excursion" href="/hurghada/express-safari-5-ore">
                <div class="card">
                    <img class="image-card-express-safari-5-ore">
                    <p id="trip-cardH" class="trip-card">Express Safari 5 Hours</p>
                </div> 
            </a>
            </div>
    
            <div id="normalC" class="excursions">
                <a class="excursion" href="/hurghada/moto-safari-3-ore">
                    <div class="card">
                        <img class="image-card-moto-safari-3-ore">
                        <p id="trip-cardI" class="trip-card">Moto Safari 3 Hours</p>
                    </div>     
                </a>
                <a class="excursion" href="/hurghada/insula-orange-bay">
                    <div class="card">
                        <img class="image-card-insula-orange-bay">
                        <p id="trip-cardJ" class="trip-card">Orange Bay Island</p>
                    </div>     
                </a>
                <a class="excursion" href="/hurghada/insula-paradise">
                    <div class="card">
                        <img class="image-card-insula-paradise">
                        <p id="trip-cardK" class="trip-card">Paradise Island</p>
                    </div>     
                </a>
                <a class="excursion" href="/hurghada/casa-delfinilor">
                    <div class="card">
                        <img class="image-card-casa-delfinilor">
                        <p id="trip-cardL" class="trip-card">Dolphin House</p>
                    </div>     
                </a>
            </div>   
    
            <div id="normalD" class="excursions">
                <a class="excursion" href="/hurghada/paraseling">
                    <div class="card">
                        <img class="image-card-paraseling">
                        <p id="trip-cardM" class="trip-card">Paraseling</p>
                    </div>     
                </a>
                <a class="excursion" href="/hurghada/scufundari">
                    <div class="card">
                        <img class="image-card-scufundari">
                        <p id="trip-cardN" class="trip-card">Diving</p>
                    </div>     
                </a>
                <a class="excursion" href="/hurghada/submarin-sindbad">
                    <div class="card">
                        <img class="image-card-submarin-sindbad">
                        <p id="trip-cardO" class="trip-card">Sindbad Submarin</p>
                    </div>     
                </a>
                <a class="excursion" href="/hurghada/batiskaf">
                    <div class="card">
                        <img class="image-card-batiskaf">
                        <p id="trip-cardP" class="trip-card">Batiskaf</p>
                    </div>     
                </a>
            </div>    
    
            <div id="normalE" class="excursions">
                <a class="excursion" href="/hurghada/dolphin-show">
                    <div class="card">
                        <img class="image-card-dolphin-show">
                        <p id="trip-cardQ" class="trip-card">Dolphin Show</p>
                    </div>     
                </a>
                <a class="excursion" href="/hurghada/acvariu">
                    <div class="card">
                        <img class="image-card-acvariu">
                        <p id="trip-cardR" class="trip-card">Aquarium</p>
                    </div>     
                </a>
                <a class="excursion" href="/hurghada/aswan-abu-sibel">
                    <div class="card">
                        <img class="image-card-aswan-abu-sibel">
                        <p id="trip-cardS" class="trip-card">Aswan Abu Sibel</p>
                    </div>     
                </a>
                <a class="excursion" href="/hurghada/manastirea-sfantul-pavel-si-antonie">
                    <div class="card">
                        <img class="image-card-manastirea-sfantul-pavel-si-antonie">
                        <p id="trip-cardT" class="trip-card">St. Paul and Anthony Monastery</p>
                    </div>     
                </a>
            </div>    
    
            <div id="normalF" class="excursions">
                <a class="excursion" href="/hurghada/excursie-privata">
                    <div class="card">
                        <img class="image-card-excursie-privata">
                        <p id="trip-cardAA" class="trip-card">Private Trip</p>
                    </div>     
                </a>
                <a class="excursion" href="/hurghada/vizitarea-orasului-hurghada">
                    <div class="card">
                        <img class="image-card-vizitarea-orasului-hurghada">
                        <p id="trip-cardBB" class="trip-card">Visiting Hurghada</p>
                    </div>     
                </a>
                <a class="excursion" href="/hurghada/abu-dabbab">
                    <div class="card">
                        <img class="image-card-abu-dabbab">
                        <p id="trip-cardCC" class="trip-card">Abu Dabbab</p>
                    </div>     
                </a>
                <a class="excursion" href="/hurghada/excursie-cu-avionul-din-hurghada-la-cairo">
                    <div class="card">
                        <img class="image-card-excursie-cu-avionul-din-hurghada-la-cairo">
                        <p id="trip-cardDD" class="trip-card"> Plane trip from Hurghada to Cairo	</p>
                    </div>     
                </a>        
            </div>
            <div id="normalG" class="excursions">
                <a class="excursion" href="/hurghada/hammam">
                    <div class="card">
                        <img class="image-card-hammam">
                        <p id="trip-cardEE" class="trip-card">Hammam</p>
                    </div>     
                </a>
                <a class="excursion" href="/hurghada/hammam-cleopatra">
                    <div class="card">
                        <img class="image-card-hammam-cleopatra">
                        <p id="trip-cardFF" class="trip-card">Hammam Cleopatra</p>
                    </div>     
                </a>
                <a class="excursion" href="/hurghada/hammam-cleopatra-plus">
                    <div class="card">
                        <img class="image-card-hammam-cleopatra-plus">
                        <p id="trip-cardGG" class="trip-card">Hammam Cleopatra Plus</p>
                    </div>     
                </a>
                <a class="excursion" href="/hurghada/echitatie-in-desert-si-pe-plaja">
                    <div class="card">
                        <img class="image-card-echitatie-in-desert-si-pe-plaja">
                        <p id="trip-cardHH" class="trip-card">Riding in the desert and on the beach</p>
                    </div>     
                </a>
            </div>
            <div id="normalH" class="excursions">
                <a class="excursion" href="/hurghada/admirarea-stelelor">
                    <div class="card">
                        <img class="image-card-admirarea-stelelor">
                        <p id="trip-cardII" class="trip-card">Camel ride and admiring the stars</p>
                    </div>     
                </a>
                <a class="excursion" href="/hurghada/excursie-cu-balonul">
                    <div class="card">
                        <img class="image-card-excursie-cu-balonul">
                        <p id="trip-cardJJ" class="trip-card">Ballon Trip</p>
                    </div>     
                </a>
            </div>
    </div>

    <div id="end" class="end">
        <p class="excursion-end">
            * Copiii cu varsta inre 0-5 ani au gratuitate. <br>
            * Copii cu varsta intre 5 ani si 11 ani platesc 50% din valoarea biletului . <br>
            * Copii  cu varsta peste 11 ani platesc biletul integral.<br>
            * Transferul de la hotel  este inclus in pret pentru hotelurile din Hurghada.<br>
            * Pentru hotelurile din Sahl  Hashish,Makadi Bay ,Suma Bay si El Guna se plateste transferul in functie de numarul de persoane.
            <br>* Dragi turisti pentru intrebari va rugam sa va adresati ghidului dumneavoastra;<br>
            * Rezervarea excursiilor se face dimineata cu cel putin  o zi inainte .<br>
        </p>
        <h1>Dragi turisti</h1>
        <p class="excursion-end-i">
            El Majico  ține sa va aduca  la cunoștință faptul că Clinica privata ALFA din Hurghada asigura asistenta medicala gratuita tuturor turistilor care vizitează Hurghada și au încheiat o polița de asigurare în România de către agenția de turism cu care urmează sa plecați in vacanta.<br>
            Clinica ALFA are mai multe secții de specialitate. <br>
            Transferul de la hotel la spitalul ALFA este gratuit.<br>
            Singura asigurare medicala care nu este valabila este cea încheiată cu firma Grhoma.
        </p>
    </div>
    <div class="end-page">
        <a class="icon" target="_blank" href="https://www.facebook.com/profile.php?id=100057490687559&is_tour_dismissed=true"> <img class="end-img-facebook" src="/images/facebook-logo-png-white-facebook-logo-png-white-facebook-icon-png--32.png"> </a>
        <a class="icon" target="_blank" href="https://www.instagram.com/excursii_elmajico/"> <img class="end-img" src="/images/instagram-logo-white-icon-symbol-stencil-text-number-transparent-png-1001134.png"> </a>
        <a class="icon" href="https://excursiihurghada.ro/"> <img class="end-img" src="/images/170-1709508_web-solutions-web-icon-white-png.png"> </a>
        <a class="icon" href="/contact-us"> <img class="end-img" src="/images/-1216105672015k2cwxy9y6.png"> </a>
    </div>
</body>
<script>
    const start = document.getElementById("start")
    const end = document.getElementById("end")

    const normal1 = document.getElementById("normal1")
    const normal2 = document.getElementById("normal2")
    const normal3 = document.getElementById("normal3")
    const normal4 = document.getElementById("normal4")
    const normal5 = document.getElementById("normal5")
    const normal6 = document.getElementById("normal6")
    const normal7 = document.getElementById("normal7")
    const normal8 = document.getElementById("normal8")


    const cairo = document.getElementById("cairo")
    const cairoEconomic = document.getElementById("cairo-economic")
    const superLuxor = document.getElementById("super-luxor")
    const luxorValeaReginelor = document.getElementById("luxor-valea-reginelor")
    const luxorEconomic = document.getElementById("luxor-economic")
    const superSafari = document.getElementById("super-safari")
    const safariOasis = document.getElementById("safari-oasis")
    const expressSafari5Ore = document.getElementById("express-safari-5-ore")
    const motoSafari3Ore = document.getElementById("moto-safari-3-ore")
    const insulaOrangeBay = document.getElementById("insula-orange-bay")
    const insulaParadise = document.getElementById("insula-paradise")
    const casaDelfinilor = document.getElementById("casa-delfinilor")
    const paraseling = document.getElementById("paraseling")
    const scufundari = document.getElementById("scufundari")
    const submarinSindbad = document.getElementById("submarin-sindbad")
    const batiskaf = document.getElementById("batiskaf")
    const dolphinShow = document.getElementById("dolphin-show")
    const acvariu = document.getElementById("acvariu")
    const aswanAbuSibel = document.getElementById("aswan-abu-sibel")
    const manastireaSfantulPavelSiAntonie = document.getElementById("manastirea-sfantul-pavel-si-antonie")
    const excursiePrivata = document.getElementById("excursie-privata")
    const vizitareaOrasuluiHurghada = document.getElementById("vizitarea-orasului-hurghada")
    const abuDabbab = document.getElementById("abu-dabbab")
    const excursieCuAvionulDinHurghadaLaCairo = document.getElementById("excursie-cu-avionul-din-hurghada-la-cairo")
    const hammam = document.getElementById("hammam")
    const hammamCleopatra = document.getElementById("hammam-cleopatra")
    const hammamCleopatraPlus = document.getElementById("hammam-cleopatra-plus")
    const echitatieInDesertSiPePlaja = document.getElementById("echitatie-in-desert-si-pe-plaja")
    const admirareaStelelor = document.getElementById("admirarea-stelelor")
    const excursieCuBalonul = document.getElementById("excursie-cu-balonul")

    const filterImage = document.getElementById("filter-img")
    const categories = document.getElementById("categories")

    const oneDay = document.getElementById("one-day")
    const twoDay = document.getElementById("two-day")
    const onSea = document.getElementById("on-sea")
    const inDesert = document.getElementById("in-desert")
    const personalized = document.getElementById("personalized")
    const toAirport = document.getElementById("to-airport")

    oneDay.addEventListener("click", ()=>{
        cairo.classList.add("to-top1")
        cairoEconomic.classList.add("to-top1")
        superLuxor.classList.add("to-top1")
        luxorValeaReginelor.classList.add("to-top1")
        luxorEconomic.classList.add("to-top1")
        manastireaSfantulPavelSiAntonie.classList.add("to-top1")
        excursiePrivata.classList.add("to-top1")
        abuDabbab.classList.add("to-top1")
        excursieCuAvionulDinHurghadaLaCairo.classList.add("to-top1")
        hammam.classList.add("to-top1")
        hammamCleopatra.classList.add("to-top1")
        hammamCleopatraPlus.classList.add("to-top1")
        echitatieInDesertSiPePlaja.classList.add("to-top1")
        admirareaStelelor.classList.add("to-top1")

        paragraphRo.classList.add("absolute")
        start.classList.add("margin-bottom1")

        start.classList.remove("margin-bottom2")
        start.classList.remove("margin-bottom4")
        start.classList.remove("margin-bottom3")

        normal1.classList.remove("invisible")
        normal2.classList.add("invisible")
        normal3.classList.add("invisible")
        normal4.classList.add("invisible")
        normal5.classList.add("invisible")
        normal6.classList.remove("invisible")
        normal7.classList.remove("invisible")
        normal8.classList.remove("invisible")

        normal1.classList.add("excursions-big")
        normal2.classList.add("excursions-big")
        normal3.classList.add("excursions-big")
        normal4.classList.add("excursions-big")
        normal5.classList.add("excursions-big")
        normal6.classList.add("excursions-big")
        normal7.classList.add("excursions-big")
        normal8.classList.add("excursions-big")

        cairo.classList.remove("invisible")
        cairoEconomic.classList.remove("invisible")
        superLuxor.classList.remove("invisible")
        luxorValeaReginelor.classList.remove("invisible")
        luxorEconomic.classList.remove("invisible")
        manastireaSfantulPavelSiAntonie.classList.remove("invisible")
        excursiePrivata.classList.remove("invisible")
        abuDabbab.classList.remove("invisible")
        excursieCuAvionulDinHurghadaLaCairo.classList.remove("invisible")
        hammam.classList.remove("invisible")
        hammamCleopatra.classList.remove("invisible")
        hammamCleopatraPlus.classList.remove("invisible")
        echitatieInDesertSiPePlaja.classList.remove("invisible")
        admirareaStelelor.classList.remove("invisible")

        superSafari.classList.add("invisible")
        safariOasis.classList.add("invisible")
        expressSafari5Ore.classList.add("invisible")
        motoSafari3Ore.classList.add("invisible")
        insulaOrangeBay.classList.add("invisible")
        insulaParadise.classList.add("invisible")
        casaDelfinilor.classList.add("invisible")
        paraseling.classList.add("invisible")
        scufundari.classList.add("invisible")
        submarinSindbad.classList.add("invisible")
        batiskaf.classList.add("invisible")
        dolphinShow.classList.add("invisible")
        acvariu.classList.add("invisible")
        aswanAbuSibel.classList.add("invisible")
        vizitareaOrasuluiHurghada.classList.add("invisible")
        excursieCuBalonul.classList.add("invisible")
    })

    twoDay.addEventListener("click", ()=>{
        cairo.classList.add("invisible")
        cairoEconomic.classList.add("invisible")
        superLuxor.classList.add("invisible")
        luxorValeaReginelor.classList.add("invisible")
        luxorEconomic.classList.add("invisible")
        superSafari.classList.add("invisible")
        safariOasis.classList.add("invisible")
        expressSafari5Ore.classList.add("invisible")
        motoSafari3Ore.classList.add("invisible")
        insulaOrangeBay.classList.add("invisible")
        insulaParadise.classList.add("invisible")
        casaDelfinilor.classList.add("invisible")
        paraseling.classList.add("invisible")
        scufundari.classList.add("invisible")
        submarinSindbad.classList.add("invisible")
        batiskaf.classList.add("invisible")
        dolphinShow.classList.add("invisible")
        acvariu.classList.add("invisible")
        aswanAbuSibel.classList.add("invisible")
        manastireaSfantulPavelSiAntonie.classList.add("invisible")
        excursiePrivata.classList.add("invisible")
        vizitareaOrasuluiHurghada.classList.add("invisible")
        abuDabbab.classList.add("invisible")
        excursieCuAvionulDinHurghadaLaCairo.classList.add("invisible")
        hammam.classList.add("invisible")
        hammamCleopatra.classList.add("invisible")
        hammamCleopatraPlus.classList.add("invisible")
        echitatieInDesertSiPePlaja.classList.add("invisible")
        admirareaStelelor.classList.add("invisible")

        normal1.classList.add("excursions-big")
        normal2.classList.add("excursions-big")
        normal3.classList.add("excursions-big")
        normal4.classList.add("excursions-big")
        normal5.classList.add("excursions-big")
        normal6.classList.add("excursions-big")
        normal7.classList.add("excursions-big")
        normal8.classList.add("excursions-big")

        excursieCuBalonul.classList.remove("invisible")
        start.classList.remove("margin-bottom2")

        start.classList.remove("margin-bottom1")
        start.classList.remove("margin-bottom4")
        start.classList.remove("margin-bottom3")

        excursieCuBalonul.classList.add("to-top")
        normal8.classList.remove("absolute")
        paragraphRo.classList.add("absolute")
        start.classList.add("margin-bottom")

        normal1.classList.add("invisible")
        normal2.classList.add("invisible")
        normal3.classList.add("invisible")
        normal4.classList.add("invisible")
        normal5.classList.add("invisible")
        normal6.classList.add("invisible")
        normal7.classList.add("invisible")
    })

    onSea.addEventListener("click", ()=>{
        insulaOrangeBay.classList.add("to-top2")
        insulaParadise.classList.add("to-top2")
        casaDelfinilor.classList.add("to-top2")
        paraseling.classList.add("to-top2")
        scufundari.classList.add("to-top2")
        submarinSindbad.classList.add("to-top2")
        batiskaf.classList.add("to-top2")
        dolphinShow.classList.add("to-top2")
        acvariu.classList.add("to-top2")
        start.classList.add("margin-bottom2")
        paragraphRo.classList.add("absolute")

        start.classList.remove("margin-bottom1")
        start.classList.remove("margin-bottom4")
        start.classList.remove("margin-bottom3")

        insulaOrangeBay.classList.remove("invisible")
        insulaParadise.classList.remove("invisible")
        casaDelfinilor.classList.remove("invisible")
        paraseling.classList.remove("invisible")
        scufundari.classList.remove("invisible")
        submarinSindbad.classList.remove("invisible")
        batiskaf.classList.remove("invisible")
        dolphinShow.classList.remove("invisible")
        acvariu.classList.remove("invisible")

        cairo.classList.add("invisible")
        cairoEconomic.classList.add("invisible")
        superLuxor.classList.add("invisible")
        luxorValeaReginelor.classList.add("invisible")
        luxorEconomic.classList.add("invisible")
        superSafari.classList.add("invisible")
        safariOasis.classList.add("invisible")
        expressSafari5Ore.classList.add("invisible")
        motoSafari3Ore.classList.add("invisible")
        cairo.classList.add("invisible")
        aswanAbuSibel.classList.add("invisible")
        manastireaSfantulPavelSiAntonie.classList.add("invisible")
        excursiePrivata.classList.add("invisible")
        vizitareaOrasuluiHurghada.classList.add("invisible")
        abuDabbab.classList.add("invisible")
        excursieCuAvionulDinHurghadaLaCairo.classList.add("invisible")
        hammam.classList.add("invisible")
        hammamCleopatra.classList.add("invisible")
        hammamCleopatraPlus.classList.add("invisible")
        echitatieInDesertSiPePlaja.classList.add("invisible")
        admirareaStelelor.classList.add("invisible")
        excursieCuBalonul.classList.add("invisible")

        normal3.classList.remove("invisible")
        normal4.classList.remove("invisible")
        normal5.classList.remove("invisible")

        normal1.classList.add("invisible")
        normal2.classList.add("invisible")
        normal6.classList.add("invisible")
        normal7.classList.add("invisible")
        normal8.classList.add("invisible")

        normal1.classList.add("excursions-big")
        normal2.classList.add("excursions-big")
        normal3.classList.add("excursions-big")
        normal4.classList.add("excursions-big")
        normal5.classList.add("excursions-big")
        normal6.classList.add("excursions-big")
        normal7.classList.add("excursions-big")
        normal8.classList.add("excursions-big")
    })

    inDesert.addEventListener("click", ()=>{
        cairo.classList.add("invisible")
        cairoEconomic.classList.add("invisible")
        superLuxor.classList.add("invisible")
        luxorValeaReginelor.classList.add("invisible")
        luxorEconomic.classList.add("invisible")
        insulaOrangeBay.classList.add("invisible")
        insulaParadise.classList.add("invisible")
        casaDelfinilor.classList.add("invisible")
        paraseling.classList.add("invisible")
        scufundari.classList.add("invisible")
        submarinSindbad.classList.add("invisible")
        batiskaf.classList.add("invisible")
        dolphinShow.classList.add("invisible")
        acvariu.classList.add("invisible")
        aswanAbuSibel.classList.add("invisible")
        manastireaSfantulPavelSiAntonie.classList.add("invisible")
        excursiePrivata.classList.add("invisible")
        vizitareaOrasuluiHurghada.classList.add("invisible")
        abuDabbab.classList.add("invisible")
        excursieCuAvionulDinHurghadaLaCairo.classList.add("invisible")
        hammam.classList.add("invisible")
        hammamCleopatra.classList.add("invisible")
        hammamCleopatraPlus.classList.add("invisible")
        echitatieInDesertSiPePlaja.classList.add("invisible")
        admirareaStelelor.classList.add("invisible")
        excursieCuBalonul.classList.add("invisible")

        superSafari.classList.remove("invisible")
        safariOasis.classList.remove("invisible")
        expressSafari5Ore.classList.remove("invisible")
        motoSafari3Ore.classList.remove("invisible")

        superSafari.classList.add("to-top4")
        safariOasis.classList.add("to-top4")
        expressSafari5Ore.classList.add("to-top4")
        motoSafari3Ore.classList.add("to-top4")
        paragraphRo.classList.add("absolute")
        start.classList.add("margin-bottom4")

        start.classList.remove("margin-bottom2")
        start.classList.remove("margin-bottom1")
        start.classList.remove("margin-bottom3")

        normal1.classList.add("excursions-big")
        normal2.classList.add("excursions-big")
        normal3.classList.add("excursions-big")
        normal4.classList.add("excursions-big")
        normal5.classList.add("excursions-big")
        normal6.classList.add("excursions-big")
        normal7.classList.add("excursions-big")
        normal8.classList.add("excursions-big")

        normal2.classList.remove("invisible")
        normal3.classList.remove("invisible")
        normal4.classList.remove("invisible")

        normal1.classList.add("invisible")
        normal4.classList.add("invisible")
        normal5.classList.add("invisible")
        normal6.classList.add("invisible")
        normal7.classList.add("invisible")
        normal8.classList.add("invisible")
    })

    personalized.addEventListener("click", ()=>{
        vizitareaOrasuluiHurghada.classList.add("to-top3")
        paragraphRo.classList.add("absolute")
        start.classList.add("margin-bottom")

        vizitareaOrasuluiHurghada.classList.remove("invisible")
        start.classList.remove("margin-bottom2")
        start.classList.remove("margin-bottom1")
        start.classList.remove("margin-bottom4")
        start.classList.remove("margin-bottom3")

        normal1.classList.add("excursions-big")
        normal2.classList.add("excursions-big")
        normal3.classList.add("excursions-big")
        normal4.classList.add("excursions-big")
        normal5.classList.add("excursions-big")
        normal6.classList.add("excursions-big")
        normal7.classList.add("excursions-big")
        normal8.classList.add("excursions-big")

        cairo.classList.add("invisible")
        cairoEconomic.classList.add("invisible")
        superLuxor.classList.add("invisible")
        luxorValeaReginelor.classList.add("invisible")
        luxorEconomic.classList.add("invisible")
        superSafari.classList.add("invisible")
        safariOasis.classList.add("invisible")
        expressSafari5Ore.classList.add("invisible")
        motoSafari3Ore.classList.add("invisible")
        insulaOrangeBay.classList.add("invisible")
        insulaParadise.classList.add("invisible")
        casaDelfinilor.classList.add("invisible")
        paraseling.classList.add("invisible")
        scufundari.classList.add("invisible")
        submarinSindbad.classList.add("invisible")
        batiskaf.classList.add("invisible")
        dolphinShow.classList.add("invisible")
        acvariu.classList.add("invisible")
        aswanAbuSibel.classList.add("invisible")
        manastireaSfantulPavelSiAntonie.classList.add("invisible")
        excursiePrivata.classList.add("invisible")
        abuDabbab.classList.add("invisible")
        excursieCuAvionulDinHurghadaLaCairo.classList.add("invisible")
        hammam.classList.add("invisible")
        hammamCleopatra.classList.add("invisible")
        hammamCleopatraPlus.classList.add("invisible")
        echitatieInDesertSiPePlaja.classList.add("invisible")
        admirareaStelelor.classList.add("invisible")
        excursieCuBalonul.classList.add("invisible")
    })

    toAirport.addEventListener("click", ()=>{
        
    })

    filterImage.addEventListener("click", ()=>{
        categories.classList.remove("invisible")
    })

    filterImage.addEventListener("dblclick", ()=>{
        categories.classList.add("invisible")
    })

        const tripTitle1 = document.getElementById("trip-card1")
        const tripTitle2 = document.getElementById("trip-card2")
        const tripTitle3 = document.getElementById("trip-card3")
        const tripTitle4 = document.getElementById("trip-card4")
        const tripTitle5 = document.getElementById("trip-card5")
        const tripTitle6 = document.getElementById("trip-card6")
        const tripTitle7 = document.getElementById("trip-card7")
        const tripTitle8 = document.getElementById("trip-card8")
        const tripTitle9 = document.getElementById("trip-card9")
        const tripTitle10 = document.getElementById("trip-card10")
        const tripTitle11 = document.getElementById("trip-card11")
        const tripTitle12 = document.getElementById("trip-card12")
        const tripTitle13 = document.getElementById("trip-card13")
        const tripTitle14 = document.getElementById("trip-card14")
        const tripTitle15 = document.getElementById("trip-card15")
        const tripTitle16 = document.getElementById("trip-card16")
        const tripTitle17 = document.getElementById("trip-card17")
        const tripTitle18 = document.getElementById("trip-card18")
        const tripTitle19 = document.getElementById("trip-card19")
        const tripTitle20 = document.getElementById("trip-card20")
        const tripTitle21 = document.getElementById("trip-card21")
        const tripTitle22 = document.getElementById("trip-card22")
        const tripTitle23 = document.getElementById("trip-card23")
        const tripTitle24 = document.getElementById("trip-card24")
        const tripTitle25 = document.getElementById("trip-card25")
        const tripTitle26 = document.getElementById("trip-card26")
        const tripTitle27 = document.getElementById("trip-card27")
        const tripTitle28 = document.getElementById("trip-card28")
        const tripTitle29 = document.getElementById("trip-card29")
        const tripTitle30 = document.getElementById("trip-card30")

        const tripTitleA = document.getElementById("trip-cardA")
        const tripTitleB = document.getElementById("trip-cardB")
        const tripTitleC = document.getElementById("trip-cardC")
        const tripTitleD = document.getElementById("trip-cardD")
        const tripTitleE = document.getElementById("trip-cardE")
        const tripTitleF = document.getElementById("trip-cardF")
        const tripTitleG = document.getElementById("trip-cardG")
        const tripTitleH = document.getElementById("trip-cardH")
        const tripTitleI = document.getElementById("trip-cardI")
        const tripTitleJ = document.getElementById("trip-cardJ")
        const tripTitleK = document.getElementById("trip-cardK")
        const tripTitleL = document.getElementById("trip-cardL")
        const tripTitleM = document.getElementById("trip-cardM")
        const tripTitleN = document.getElementById("trip-cardN")
        const tripTitleO = document.getElementById("trip-cardO")
        const tripTitleP = document.getElementById("trip-cardP")
        const tripTitleQ = document.getElementById("trip-cardQ")
        const tripTitleR = document.getElementById("trip-cardR")
        const tripTitleS = document.getElementById("trip-cardS")
        const tripTitleT = document.getElementById("trip-cardT")
        const tripTitleAA = document.getElementById("trip-cardAA")
        const tripTitleBB = document.getElementById("trip-cardBB")
        const tripTitleCC = document.getElementById("trip-cardCC")
        const tripTitleDD = document.getElementById("trip-cardDD")
        const tripTitleEE = document.getElementById("trip-cardEE")
        const tripTitleFF = document.getElementById("trip-cardFF")
        const tripTitleGG = document.getElementById("trip-cardGG")
        const tripTitleHH = document.getElementById("trip-cardHH")
        const tripTitleII = document.getElementById("trip-cardII")
        const tripTitleJJ = document.getElementById("trip-cardJJ")

    const wheel = document.getElementById("wheel")
    const on = document.getElementById("on")
    const off = document.getElementById("off")
    const titleText = document.getElementById("title-text")
    const next = document.getElementById("next")
    const previous = document.getElementById("previous")

    next.addEventListener("click", ()=>{
        on.classList.add("invisible")
        off.classList.add("invisible")
        titleText.classList.add("invisible")
        translateBtnUsa.classList.remove("invisible")
        translateBtnRo.classList.remove("invisible")
        next.classList.add("invisible")
        previous.classList.remove("invisible")
        translateBtnUsa.classList.add("appear")
        translateBtnRo.classList.add("appear")
        previous.classList.remove("previous")
        previous.classList.add("translate-form")
        setTimeout(() =>{
            translateBtnUsa.classList.remove("appear")
            translateBtnRo.classList.remove("appear")
        },350)
    })

    previous.addEventListener("click", ()=>{
        on.classList.remove("invisible")
        off.classList.remove("invisible")
        titleText.classList.remove("invisible")
        translateBtnUsa.classList.add("invisible")
        translateBtnRo.classList.add("invisible")
        next.classList.remove("invisible")
        previous.classList.add("invisible")
        setTimeout(() =>{
            translateBtnUsa.classList.remove("appear")
            translateBtnRo.classList.remove("appear")
        },350)
    })

    wheel.addEventListener("click", ()=>{
        wheel.classList.add("rotate")
        wheel.classList.add("no-access-cursor")
        setTimeout(() =>{
            on.classList.remove("invisible")
            on.classList.add("appear")
            titleText.classList.remove("invisible")
            titleText.classList.add("appear")
            previous.classList.remove("invisible")
            previous.classList.add("appear")
            next.classList.remove("invisible")
            next.classList.add("appear")
        },350)
        setTimeout(() =>{
            next.classList.remove("appear")
            previous.classList.remove("appear")
            on.classList.remove("appear")
            titleText.classList.remove("appear")
        },500)
    })

    off.addEventListener("click", ()=>{
        tripTitle1.classList.add("white")
        tripTitle2.classList.add("white")
        tripTitle3.classList.add("white")
        tripTitle4.classList.add("white")
        tripTitle5.classList.add("white")
        tripTitle6.classList.add("white")
        tripTitle7.classList.add("white")
        tripTitle8.classList.add("white")
        tripTitle9.classList.add("white")
        tripTitle10.classList.add("white")
        tripTitle11.classList.add("white")
        tripTitle12.classList.add("white")
        tripTitle13.classList.add("white")
        tripTitle14.classList.add("white")
        tripTitle15.classList.add("white")
        tripTitle16.classList.add("white")
        tripTitle17.classList.add("white")
        tripTitle18.classList.add("white")
        tripTitle19.classList.add("white")
        tripTitle20.classList.add("white")
        tripTitle21.classList.add("white")
        tripTitle22.classList.add("white")
        tripTitle23.classList.add("white")
        tripTitle24.classList.add("white")
        tripTitle25.classList.add("white")
        tripTitle26.classList.add("white")
        tripTitle27.classList.add("white")
        tripTitle28.classList.add("white")
        tripTitle29.classList.add("white")

        tripTitleA.classList.add("white")
        tripTitleB.classList.add("white")
        tripTitleC.classList.add("white")
        tripTitleD.classList.add("white")
        tripTitleE.classList.add("white")
        tripTitleF.classList.add("white")
        tripTitleG.classList.add("white")
        tripTitleH.classList.add("white")
        tripTitleI.classList.add("white")
        tripTitleJ.classList.add("white")
        tripTitleK.classList.add("white") 
        tripTitleL.classList.add("white")
        tripTitleM.classList.add("white")
        tripTitleN.classList.add("white")
        tripTitleO.classList.add("white")
        tripTitleP.classList.add("white")
        tripTitleQ.classList.add("white")
        tripTitleR.classList.add("white")
        tripTitleS.classList.add("white")
        tripTitleT.classList.add("white")
        tripTitleAA.classList.add("white")
        tripTitleBB.classList.add("white")
        tripTitleCC.classList.add("white")
        tripTitleDD.classList.add("white")
        tripTitleEE.classList.add("white")
        tripTitleFF.classList.add("white")
        tripTitleGG.classList.add("white")
        tripTitleHH.classList.add("white")
        tripTitleII.classList.add("white")


        off.classList.add("invisible")
        on.classList.remove("invisible")

        tripTitle1.classList.remove("black")
        tripTitle2.classList.remove("black")
        tripTitle3.classList.remove("black")
        tripTitle4.classList.remove("black")
        tripTitle5.classList.remove("black")
        tripTitle6.classList.remove("black")
        tripTitle7.classList.remove("black")
        tripTitle8.classList.remove("black")
        tripTitle9.classList.remove("black")
        tripTitle10.classList.remove("black")
        tripTitle11.classList.remove("black")
        tripTitle12.classList.remove("black")
        tripTitle13.classList.remove("black")
        tripTitle14.classList.remove("black")
        tripTitle15.classList.remove("black")
        tripTitle16.classList.remove("black")
        tripTitle17.classList.remove("black")
        tripTitle18.classList.remove("black")
        tripTitle19.classList.remove("black")
        tripTitle20.classList.remove("black")
        tripTitle21.classList.remove("black")
        tripTitle22.classList.remove("black")
        tripTitle23.classList.remove("black")
        tripTitle24.classList.remove("black")
        tripTitle25.classList.remove("black")
        tripTitle26.classList.remove("black")
        tripTitle27.classList.remove("black")
        tripTitle28.classList.remove("black")
        tripTitle29.classList.remove("black")

        tripTitleA.classList.remove("black")
        tripTitleB.classList.remove("black")
        tripTitleC.classList.remove("black")
        tripTitleD.classList.remove("black")
        tripTitleE.classList.remove("black")
        tripTitleF.classList.remove("black")
        tripTitleG.classList.remove("black")
        tripTitleH.classList.remove("black")
        tripTitleI.classList.remove("black")
        tripTitleJ.classList.remove("black")
        tripTitleK.classList.remove("black") 
        tripTitleL.classList.remove("black")
        tripTitleM.classList.remove("black")
        tripTitleN.classList.remove("black")
        tripTitleO.classList.remove("black")
        tripTitleP.classList.remove("black")
        tripTitleQ.classList.remove("black")
        tripTitleR.classList.remove("black")
        tripTitleS.classList.remove("black")
        tripTitleT.classList.remove("black")
        tripTitleAA.classList.remove("black")
        tripTitleBB.classList.remove("black")
        tripTitleCC.classList.remove("black")
        tripTitleDD.classList.remove("black")
        tripTitleEE.classList.remove("black")
        tripTitleFF.classList.remove("black")
        tripTitleGG.classList.remove("black")
        tripTitleHH.classList.remove("black")
        tripTitleII.classList.remove("black")
    })

    on.addEventListener("click", ()=>{
        tripTitle1.classList.add("black")
        tripTitle2.classList.add("black")
        tripTitle3.classList.add("black")
        tripTitle4.classList.add("black")
        tripTitle5.classList.add("black")
        tripTitle6.classList.add("black")
        tripTitle7.classList.add("black")
        tripTitle8.classList.add("black")
        tripTitle9.classList.add("black")
        tripTitle10.classList.add("black")
        tripTitle11.classList.add("black")
        tripTitle12.classList.add("black")
        tripTitle13.classList.add("black")
        tripTitle14.classList.add("black")
        tripTitle15.classList.add("black")
        tripTitle16.classList.add("black")
        tripTitle17.classList.add("black")
        tripTitle18.classList.add("black")
        tripTitle19.classList.add("black")
        tripTitle20.classList.add("black")
        tripTitle21.classList.add("black")
        tripTitle22.classList.add("black")
        tripTitle23.classList.add("black")
        tripTitle24.classList.add("black")
        tripTitle25.classList.add("black")
        tripTitle26.classList.add("black")
        tripTitle27.classList.add("black")
        tripTitle28.classList.add("black")
        tripTitle29.classList.add("black")

        tripTitleA.classList.add("black")
        tripTitleB.classList.add("black")
        tripTitleC.classList.add("black")
        tripTitleD.classList.add("black")
        tripTitleE.classList.add("black")
        tripTitleF.classList.add("black")
        tripTitleG.classList.add("black")
        tripTitleH.classList.add("black")
        tripTitleI.classList.add("black")
        tripTitleJ.classList.add("black")
        tripTitleK.classList.add("black") 
        tripTitleL.classList.add("black")
        tripTitleM.classList.add("black")
        tripTitleN.classList.add("black")
        tripTitleO.classList.add("black")
        tripTitleP.classList.add("black")
        tripTitleQ.classList.add("black")
        tripTitleR.classList.add("black")
        tripTitleS.classList.add("black")
        tripTitleT.classList.add("black")
        tripTitleAA.classList.add("black")
        tripTitleBB.classList.add("black")
        tripTitleCC.classList.add("black")
        tripTitleDD.classList.add("black")
        tripTitleEE.classList.add("black")
        tripTitleFF.classList.add("black")
        tripTitleGG.classList.add("black")
        tripTitleHH.classList.add("black")
        tripTitleII.classList.add("black")


        off.classList.remove("invisible")
        on.classList.add("invisible")

        tripTitle1.classList.remove("white")
        tripTitle2.classList.remove("white")
        tripTitle3.classList.remove("white")
        tripTitle4.classList.remove("white")
        tripTitle5.classList.remove("white")
        tripTitle6.classList.remove("white")
        tripTitle7.classList.remove("white")
        tripTitle8.classList.remove("white")
        tripTitle9.classList.remove("white")
        tripTitle10.classList.remove("white")
        tripTitle11.classList.remove("white")
        tripTitle12.classList.remove("white")
        tripTitle13.classList.remove("white")
        tripTitle14.classList.remove("white")
        tripTitle15.classList.remove("white")
        tripTitle16.classList.remove("white")
        tripTitle17.classList.remove("white")
        tripTitle18.classList.remove("white")
        tripTitle19.classList.remove("white")
        tripTitle20.classList.remove("white")
        tripTitle21.classList.remove("white")
        tripTitle22.classList.remove("white")
        tripTitle23.classList.remove("white")
        tripTitle24.classList.remove("white")
        tripTitle25.classList.remove("white")
        tripTitle26.classList.remove("white")
        tripTitle27.classList.remove("white")
        tripTitle28.classList.remove("white")
        tripTitle29.classList.remove("white")

        tripTitleA.classList.remove("white")
        tripTitleB.classList.remove("white")
        tripTitleC.classList.remove("white")
        tripTitleD.classList.remove("white")
        tripTitleE.classList.remove("white")
        tripTitleF.classList.remove("white")
        tripTitleG.classList.remove("white")
        tripTitleH.classList.remove("white")
        tripTitleI.classList.remove("white")
        tripTitleJ.classList.remove("white")
        tripTitleK.classList.remove("white") 
        tripTitleL.classList.remove("white")
        tripTitleM.classList.remove("white")
        tripTitleN.classList.remove("white")
        tripTitleO.classList.remove("white")
        tripTitleP.classList.remove("white")
        tripTitleQ.classList.remove("white")
        tripTitleR.classList.remove("white")
        tripTitleS.classList.remove("white")
        tripTitleT.classList.remove("white")
        tripTitleAA.classList.remove("white")
        tripTitleBB.classList.remove("white")
        tripTitleCC.classList.remove("white")
        tripTitleDD.classList.remove("white")
        tripTitleEE.classList.remove("white")
        tripTitleFF.classList.remove("white")
        tripTitleGG.classList.remove("white")
        tripTitleHH.classList.remove("white")
        tripTitleII.classList.remove("white")
    })

    const translateBtnUsa = document.getElementById("translation-btn-usa")
    const translateBtnRo = document.getElementById("translation-btn-ro")
    const paragraphUsa = document.getElementById("paragraph-usa")
    const paragraphRo = document.getElementById("paragraph-ro")

    translateBtnUsa.addEventListener("click", ()=>{
        paragraphUsa.classList.remove("invisible")
        paragraphRo.classList.add("invisible")
    })

    translateBtnRo.addEventListener("click", ()=>{
        paragraphUsa.classList.add("invisible")
        paragraphRo.classList.remove("invisible")
    })

</script>
</html>