<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hurghada</title>
    <style>
        .excursions{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .excursion{
            margin: 20px;
            text-decoration: none;
            color: black;
            font-size: 27px;
            height: 50px;
            width: 300px;
            padding: 10px;
        }
        .excursion:hover{
            color: rgb(26, 26, 26);
            background-color: rgba(77, 77, 77, 0.151);
        }
        ::-webkit-scrollbar {
            width: 15px;
        }
        ::-webkit-scrollbar-track {
            background: rgb(37, 37, 37); 
        }
        ::-webkit-scrollbar-thumb {
            background: #333; 
            border-radius: 25px;
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #555; 
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
    <a class="back" href="/">     <p class="back">←</p>    </a>
    <div class="excursions">
        <a class="excursion" href="/hurghada/cairo">1. Cairo	</a>
        <a class="excursion" href="/hurghada/super-luxor">2. Super Luxor	</a>
        <a class="excursion" href="/hurghada/super-safari">3. Super Safari	</a>
        <a class="excursion" href="/hurghada/express-safari-5-ore">4. Express  Safari  5 ore	</a>
        <a class="excursion" href="/hurghada/moto-safari-3-ore">5. Moto  Safari  3 ore 	</a>
        <a class="excursion" href="/hurghada/insula-orange-bay">6. Insula  Orange  Bay	</a>
        <a class="excursion" href="/hurghada/insula-paradise">7. Insula  Paradise 	</a>
        <a class="excursion" href="/hurghada/casa-delfinilor">8. Casa  delfinilor	</a>
        <a class="excursion" href="/hurghada/paraseling">9. Paraseling	</a>
        <a class="excursion" href="/hurghada/scufundari">10. Scufundari	</a>
        <!-- <a class="excursion" href="/hurghada/submarin-sindbad">11. Submarin  Sindbad	</a>
        <a class="excursion" href="/hurghada/cairo">1. Cairo	</a>
        <a class="excursion" href="/hurghada/cairo">1. Cairo	</a>
        <a class="excursion" href="/hurghada/cairo">1. Cairo	</a>
        <a class="excursion" href="/hurghada/cairo">1. Cairo	</a>
        <a class="excursion" href="/hurghada/cairo">1. Cairo	</a>
        <a class="excursion" href="/hurghada/cairo">1. Cairo	</a>
        <a class="excursion" href="/hurghada/cairo">1. Cairo	</a>
        <a class="excursion" href="/hurghada/cairo">1. Cairo	</a>
        <a class="excursion" href="/hurghada/cairo">1. Cairo	</a> -->
    </div>
</body>
</html>