<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d32220bc2b.js" crossorigin="anonymous"></script>
    <title>Hurghada</title>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        .excursion-end-i{
            text-decoration: none;
            color: black;
            font-size: 27px;
            height: 50px;
            width: 800px;
            padding: 10px;
            position: relative;
            margin: 10px;
        }
        .excursions{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 350px;
        }
        .excursion-end{
            margin-top: 75px;
            margin-left: 15px;
            margin-bottom: 15px;
            text-decoration: none;
            color: black;
            font-size: 27px;
            width: 1430px;
            position: relative;
        }
        .excursion{
            margin: 20px;
            text-decoration: none;
            color: black;
            font-size: 27px;
            height: 50px;
            width: 300px;
            padding: 10px;
        }
        ::-webkit-scrollbar {
            width: 15px;
        }
        ::-webkit-scrollbar-track {
            background: rgb(37, 37, 37); 
        }
        ::-webkit-scrollbar-thumb {
            background: #333; 
            border-radius: 25px;
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #555; 
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
            width: 50px;
            position: relative;
        }
        .invisible{
            display: none;
            top: -1000000px;
        }
        .card{
            align-content: center;
            justify-content: center;
            height: 340px;
            width: 260px;
            border-radius: 10px;
            padding-top:  8px;
            padding-left:  8px;
            cursor: pointer;
        }
        .trip-card{
            text-align: center;
            color: white;
            position: relative;
            margin-top: -2px;
            font-size: 26px;
        }
        .card:hover{
            background-color: rgb(219, 219, 219);
            height: 380px;
            color: black;
        }

        .trip-card:hover{
            color: black;
        }

        /*                                                             Card images    */
        .image-card-cairo{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://d.newsweek.com/en/full/813669/gettyimages-918637914.jpg");
        }
        .image-card-excursie-cu-avionul-din-hurghada-la-cairo{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://i.redd.it/0drdwf9gw7j41.jpg");
        }
        .image-card-abu-dabbab{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://www.karpaten.ro/media/cache/big_image/images/hotel/10750/s3-malikia-resort-abu-dabbab-ex-sol-y-mar-268885.jpg");
        }
        .image-card-vizitarea-orasului-hurghada{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://galaxytravel.ro/wp-content/uploads/2016/10/hurghada_final_cover.jpg");
        }
        .image-card-excursie-privata{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://superegipt.ro/wp-content/uploads/2018/08/aerial-view.jpg");
        }
        .image-card-manastirea-sfantul-pavel-si-antonie{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://doxologia.ro/sites/default/files/articol/2015/09/manastirea_sfantului_antonie.jpg");
        }
        .image-card-aswan-abu-sibel{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://www.marsaalamtours.com/ro/data1/images/Excursii-de-2-zile-la-Aswan-si-Abu-simble-de-la-Hurghada/4.jpg");
        }
        .image-card-acvariu{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://mediaim.expedia.com/localexpert/2077084/08353012-2b14-4711-ac13-a913cb5780e1.jpg?impolicy=resizecrop&rw=1005&rh=565");
        }
        .image-card-dolphin-show{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://excursiihurghada.ro/images/activitate/jpeg/425_px/6181a03f3c5b9301eb578700_1635885851571.jpg");
        }
        .image-card-batiskaf{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://excursiihurghada.ro/images/undefined/jpeg/1024_px/5f2c50343e2d6a641d62c492_1596821340638.jpg");
        }
        .image-card-submarin-sindbad{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://nile-voyage.com/home/wp-content/uploads/2020/04/Submarinul-Sindbad-din-Hurghada-7.jpg");
        }
        .image-card-scufundari{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://www.tripsavvy.com/thmb/AIiNbdjY4ZXYKIDPdoRe9f1MclA=/2121x1193/smart/filters:no_upscale()/egypt--red-sea--hurghada--young-woman-snorkeling-at-coral-reef-926722356-5269429ca25a49d8877b57ab4a249856.jpg");
        }
        .image-card-paraseling{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://nile-voyage.com/home/wp-content/uploads/2020/10/Parasiutas-is-Hurgados-parasailing-www.nile-voyage.com-6.jpg");
        }
        .image-card-casa-delfinilor{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://cdn.getyourguide.com/img/tour/5d5bddc969a18.jpeg/146.jpg");
        }
        .image-card-insula-paradise{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://api.seeplaces.com/Storage/Static/Images/3ed42a82-9438-4b02-9fcc-9f75294c7d91.jpg?width=800&quality=85");
        }
        .image-card-insula-orange-bay{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://excursiihurghada.ro/images/undefined/jpeg/1024_px/5f2c4f9f3e2d6a641d62c468_1596870355242.jpg");
        }

        .image-card-moto-safari-3-ore{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://nile-voyage.com/home/wp-content/uploads/2020/04/Safari-cu-ATV-UL-3-ore-diminea%C8%9Ba-3-Copy.jpg");
        }
        .image-card-express-safari-5-ore {
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("  https://media.tacdn.com/media/attractions-splice-spp-674x446/06/75/85/8e.jpg");
        }
        .image-card-safari-oasis{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://discovering-egypt.com/new/wp-content/uploads/2012/11/desert-safari-1.jpg");
        }
        .image-card-super-safari{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://www.tripsinegypt.com/wp-content/uploads/2018/11/EL-Gouna-Super-Safari-by-Quads-Trips-in-Egypt-3.jpg");
        }
        .image-card-luxor-economic{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://www.vacante-excursii.ro/storage/uploads/teba3-1597065785.jpg");
        }
        .image-card-luxor-valea-reginelor{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://www.misronatours.com/prog/309664792.jpg");
        }
        .image-card-cairo-economic{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://cdn.britannica.com/85/99185-050-E1110E5C/Great-Sphinx-Giza-Egypt.jpg");
        }
        .image-card-super-luxor{
            height: 340px;
            width: 250px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("/images/5f2d8a233e2d6a641d62c631_1634319553914.jpg");
        }
        .end-page{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: black;
            height: 120px;
            width: 100%;
            bottom: 0;
            position: relative;
            margin-top: 250px;
        }
        .icon{
            color: white;
            position: relative;
            font-size: 25px;
            text-decoration: none;
            margin: 35px;
        }
        .end-img:hover{
            color: rgb(194, 194, 194);
        }
        .end-img-facebook{
            height: 80px;
            width: 80px;
            color: white;
        }
        .end-img{
            height: 60px;
            width: 60px;
            color: white;
            margin: 15px;
        }
        @media (max-width: 600px) {
            .end-page{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background-color: black;
                height: 120px;
                width: 260vw;
                bottom: 0;
                position: relative;
                margin-top: 550px;
            }
            .trip-card{
                text-align: center;
                color: black;
                position: relative;
                margin-top: -2px;
                font-size: 26px;
            }
        }
    </style>
</head>
<body>
    <a class="back" href="/">     <p class="back">←</p>    </a>
    <div id="normal1" class="excursions">
        <a class="excursion" href="/hurghada/cairo">
            <div class="card">
                <img class="image-card-cairo">
                <p class="trip-card">Cairo</p>
            </div>
        </a>
        <a class="excursion" href="/hurghada/cairo-economic">
            <div class="card">
                <img class="image-card-cairo-economic">
                <p class="trip-card">Cairo Economic</p>
            </div>
        </a>
        <a class="excursion" href="/hurghada/super-luxor">
            <div class="card">
                <img class="image-card-super-luxor">
                <p class="trip-card">Super Luxor</p>
            </div>
        </a>
        <a class="excursion" href="/hurghada/luxor-valea-reginelor">
            <div class="card">
                <img class="image-card-luxor-valea-reginelor">
                <p class="trip-card">Luxor Valea Reginelor</p>
            </div>
        </a>
    </div>

    <div id="normal2" class="excursions">
        <a class="excursion" href="/hurghada/luxor-economic">
            <div class="card">
                <img class="image-card-luxor-economic">
                <p class="trip-card">Luxor Economic</p>
            </div>
        </a>
        <a class="excursion" href="/hurghada/super-safari">
            <div class="card">
                <img class="image-card-super-safari">
                <p class="trip-card">Super Safari</p>
            </div>
        </a>
        <a class="excursion" href="/hurghada/safari-oasis">
            <div class="card">
                <img class="image-card-safari-oasis">
                <p class="trip-card">Safari Oasis</p>
            </div>
        </a>
        <a class="excursion" href="/hurghada/express-safari-5-ore">
            <div class="card">
                <img class="image-card-express-safari-5-ore">
                <p class="trip-card">Express Safari 5 Ore</p>
            </div> 
        </a>
        </div>

        <div id="normal3" class="excursions">
            <a class="excursion" href="/hurghada/moto-safari-3-ore">
                <div class="card">
                    <img class="image-card-moto-safari-3-ore">
                    <p class="trip-card">Moto Safari 3 Ore</p>
                </div>     
            </a>
            <a class="excursion" href="/hurghada/insula-orange-bay">
                <div class="card">
                    <img class="image-card-insula-orange-bay">
                    <p class="trip-card">Insula Orange Bay</p>
                </div>     
            </a>
            <a class="excursion" href="/hurghada/insula-paradise">
                <div class="card">
                    <img class="image-card-insula-paradise">
                    <p class="trip-card">Insula Paradise</p>
                </div>     
            </a>
            <a class="excursion" href="/hurghada/casa-delfinilor">
                <div class="card">
                    <img class="image-card-casa-delfinilor">
                    <p class="trip-card">Casa Delfinilor</p>
                </div>     
            </a>
        </div>   

        <div id="normal4" class="excursions">
            <a class="excursion" href="/hurghada/paraseling">
                <div class="card">
                    <img class="image-card-paraseling">
                    <p class="trip-card">Paraseling</p>
                </div>     
            </a>
            <a class="excursion" href="/hurghada/scufundari">
                <div class="card">
                    <img class="image-card-scufundari">
                    <p class="trip-card">Scufundari</p>
                </div>     
            </a>
            <a class="excursion" href="/hurghada/submarin-sindbad">
                <div class="card">
                    <img class="image-card-submarin-sindbad">
                    <p class="trip-card">Submarin Sindbad</p>
                </div>     
            </a>
            <a class="excursion" href="/hurghada/batiskaf">
                <div class="card">
                    <img class="image-card-batiskaf">
                    <p class="trip-card">Batiskaf</p>
                </div>     
            </a>
        </div>    

        <div id="normal5" class="excursions">
            <a class="excursion" href="/hurghada/dolphin-show">
                <div class="card">
                    <img class="image-card-dolphin-show">
                    <p class="trip-card">Dolphin Show</p>
                </div>     
            </a>
            <a class="excursion" href="/hurghada/acvariu">
                <div class="card">
                    <img class="image-card-acvariu">
                    <p class="trip-card">Acvariu</p>
                </div>     
            </a>
            <a class="excursion" href="/hurghada/aswan-abu-sibel">
                <div class="card">
                    <img class="image-card-aswan-abu-sibel">
                    <p class="trip-card">Aswan Abu Sibel</p>
                </div>     
            </a>
            <a class="excursion" href="/hurghada/manastirea-sfantul-pavel-si-antonie">
                <div class="card">
                    <img class="image-card-manastirea-sfantul-pavel-si-antonie">
                    <p class="trip-card">Manastirea Sf. Pavel si Antonie</p>
                </div>     
            </a>
        </div>    

        <div id="normal6" class="excursions">
            <a class="excursion" href="/hurghada/excursie-privata">
                <div class="card">
                    <img class="image-card-excursie-privata">
                    <p class="trip-card">Excursie Privata</p>
                </div>     
            </a>
            <a class="excursion" href="/hurghada/vizitarea-orasului-hurghada">
                <div class="card">
                    <img class="image-card-vizitarea-orasului-hurghada">
                    <p class="trip-card">Vizitarea Orasului Hurghada</p>
                </div>     
            </a>
            <a class="excursion" href="/hurghada/abu-dabbab">
                <div class="card">
                    <img class="image-card-abu-dabbab">
                    <p class="trip-card">Abu Dabbab</p>
                </div>     
            </a>
            <a class="excursion" href="/hurghada/excursie-cu-avionul-din-hurghada-la-cairo">
                <div class="card">
                    <img class="image-card-excursie-cu-avionul-din-hurghada-la-cairo">
                    <p class="trip-card"> Excursie cu avionul din  Hurghada  la Cairo	</p>
                </div>     
            </a>        
        
        </div>    

    </div>    
    <div class="end">
        <p class="excursion-end">
            * Copiii cu varsta inre 0-5 ani au gratuitate. <br>
            * Copii cu varsta intre 5 ani si 11 ani platesc 50% din valoarea biletului . <br>
            * Copii  cu varsta peste 11 ani platesc biletul integral.<br>
            * Transferul de la hotel  este inclus in pret pentru hotelurile din Hurghada.<br>
            * Pentru hotelurile din Sahl  Hashish,Makadi Bay ,Suma Bay si El Guna se plateste transferul in functie de numarul de persoane.
            <br>* Dragi turisti pentru intrebari va rugam sa va adresati ghidului dumneavoastra;<br>
            * Rezervarea excursiilor se face dimineata cu cel putin  o zi inainte .<br>
        </p>
        <h1>Dragi turisti</h1>
        <p class="excursion-end-i">
            El Majico  ține sa va aduca  la cunoștință faptul că Clinica privata ALFA din Hurghada asigura asistenta medicala gratuita tuturor turistilor care vizitează Hurghada și au încheiat o polița de asigurare în România de către agenția de turism cu care urmează sa plecați in vacanta.<br>
            Clinica ALFA are mai multe secții de specialitate. <br>
            Transferul de la hotel la spitalul ALFA este gratuit.<br>
            Singura asigurare medicala care nu este valabila este cea încheiată cu firma Grhoma.
        </p>
    </div>
    <div class="end-page">
        <a class="icon" target="_blank" href="https://www.facebook.com/profile.php?id=100057490687559&is_tour_dismissed=true"> <img class="end-img-facebook" src="/images/facebook-logo-png-white-facebook-logo-png-white-facebook-icon-png--32.png"> </a>
        <a class="icon" target="_blank" href="https://www.instagram.com/excursii_elmajico/"> <img class="end-img" src="/images/instagram-logo-white-icon-symbol-stencil-text-number-transparent-png-1001134.png"> </a>
        <a class="icon" href="https://excursiihurghada.ro/"> <img class="end-img" src="/images/170-1709508_web-solutions-web-icon-white-png.png"> </a>
        <a class="icon" href="/contact-us"> <img class="end-img" src="/images/-1216105672015k2cwxy9y6.png"> </a>
    </div>
</body>
<script>
    const alfabetBtn = document.getElementById("alfabet-btn")
    const classicBtn = document.getElementById("classic-btn")

    const alfabetContext = document.getElementById("alfabet")
    const normalContext = document.getElementById("normal")

    alfabetBtn.addEventListener("click", ()=>{
        alfabetContext.classList.remove("invisible")
        normalContext.classList.add("invisible")
        classicBtn.classList.add("alfabet-clicked")
        alfabetBtn.classList.remove("alfabet-clicked")
        alfabetBtn.classList.add("invisible")
        classicBtn.classList.remove("invisible")
        translateBtnUsa.classList.add("invisible")
        translateBtnRo.classList.add("invisible")
    })

    classicBtn.addEventListener("click", ()=>{
        alfabetContext.classList.add("invisible")
        normalContext.classList.remove("invisible")
        alfabetBtn.classList.add("alfabet-clicked")
        classicBtn.classList.remove("alfabet-clicked")
        classicBtn.classList.add("invisible")
        classicBtn.classList.add("invisible")
        alfabetBtn.classList.remove("invisible")
        alfabetBtn.classList.remove("alfabet-clicked")
        translateBtnUsa.classList.remove("invisible")
        translateBtnRo.classList.remove("invisible")
    })


    const translateBtnUsa = document.getElementById("translation-btn-usa")
    const translateBtnRo = document.getElementById("translation-btn-ro")
    const paragraphUsa = document.getElementById("paragraph-usa")
    const paragraphRo = document.getElementById("paragraph-ro")

    translateBtnUsa.addEventListener("click", ()=>{
        paragraphUsa.classList.remove("invisible")
        normalContext.classList.add("invisible")
        alfabetBtn.classList.add("invisible")
        classicBtn.classList.add("invisible")
    })

    translateBtnRo.addEventListener("click", ()=>{
        paragraphUsa.classList.add("invisible")
        normalContext.classList.remove("invisible")
        classicBtn.classList.add("invisible")
        alfabetBtn.classList.add("invisible")
    })

</script>
</html>