<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insula  Paradise</title>
    <style>
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
        .paragraph{
            font-size: 25px;
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
    </style>
</head>
<body>
    <a class="back" href="/hurghada/home">     <p class="back">←</p>    </a>
    <h1>Insula  Paradise</h1>
    <p class="paragraph">
        2 opriri la recifele de corali , oprire pe insula  in jur de 1 ora si jumatate ,inot, pranzul pe vas, bauturi  non alcoolice.
        Plecarea  va fi in jurul orei 08: 00 in functie de hotelul unde sunteti cazati iar sosirea in jurul orei 18 : 00 in functie de hotelul unde sunteti cazati si de trafic.
                <br><br>
        Pret:<br>
        Adult: 22 €<br>
        Copil: 11 €<br><br>
        Cand:<br>
        in fiecare zi
    </p>
</body>
</html>