<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luxor Valea Reginelor</title>
    <style>
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
        .paragraph{
            font-size: 25px;
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
        .translation-btn-usa{
            position: absolute;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            cursor: pointer;
            margin-top: -80px;
            margin-left: 1300px;
        }
        @media (max-width: 600px) {
            .paragraph{
                font-size: 25px;
                width: 280vw;
            }
        }
        .translation-btn-ro{
            position: absolute;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            cursor: pointer;
            margin-top: -80px;
            margin-left: 1390px;
        }
        .invisible{
            display: none;
            top: -1000000px;
        }
    </style>
</head>
<body>
    <a class="back" href="/hurghada/home">     <p class="back">←</p>    </a>
    <div class="translation">
        <img src="/images/1200px-Flag_of_the_United_States.svg.png" class="translation-btn-usa" id="translation-btn-usa">
        <img src="/images/1200px-Flag_of_Romania.svg.png" class="translation-btn-ro" id="translation-btn-ro">
    </div>
    <h1>Luxor Valea Reginelor</h1>
    <p id="paragraph-ro" class="paragraph">
        Valea Reginelor este locul de veci al sotiilor faraonilor dinastiilor 18, 19 si 20. Situat pe malul vestic al Nilului, vizavi de orasul Luxor, a fost cunoscut sub denumirea Ta-Set-Neferu, insemnand ‚locul frumusetii’. Valea Reginelor gazduieste intre 75-80 de morminte, cele mai renumite fiind cel al reginelor Nefertari si Satre, precum si al printesei Meritamun.  
        Programul include :transportul cu microbuzul sau autocarul ,ghid vorbitor de limba engleza,pranzul fara bauturi (bauturile sunt contra cost),biletele de intrare la obiectivele  mentionate  in program.
        Valea reginelor,Templul Karnak, Templul Hatshepsud,colosii lui Memnon, pranzul fara bauturi(bauturile sunt contra cost), 5 minute plimbare pe Nil shopping,
        Plecarea  va fi in jurul orei 04: 30 in functie de hotelul unde sunteti cazati iar sosirea in jurul orei 21 : 30 in functie de hotelul unde sunteti cazati si de trafic.
        <br><br>
        Pret:<br>
        Adult: 50 €<br>
        Copil: 25 €<br><br>
        Cand:<br>
        in fiecare zi<br><br>
        Optional se poate face plimbare cu barca pe Nil  pe insula bananelor contra cost
    </p>
    <p id="paragraph-usa" class="paragraph invisible">
        The Valley of the Queens is the eternal home of the wives of the Pharaohs of the 18th, 19th and 20th dynasties. Located on the west bank of the Nile, opposite the city of Luxor, it was known as Ta-Set-Neferu, meaning 'place of beauty'. The Valley of the Queens hosts between 75-80 tombs, the most famous being that of Queens Nefertari and Satre, as well as Princess Meritamun.
        The program includes: transport by minibus or bus, English speaking guide, lunch without drinks (drinks are for a fee), entrance tickets to the objectives mentioned in the program.
        The Valley of the Queens, the Temple of Karnak, the Temple of Hatshepsud, the colossi of Memnon, lunch without drinks (drinks are for a fee), 5 minutes walk on the Nile shopping,
        Departure will be around 04:30 depending on the hotel where you are staying and arrival around 21:30 depending on the hotel where you are staying and traffic.        <br><br>
        Price:<br>
        Adult: 50 €<br>
        Children: 25 €
        <br><br>
        When:<br>
        every day<br><br>
        Optionally you can take a boat ride on the Nile on the island of bananas for a fee
    </p>
</body>
<script>
    const translateBtnUsa = document.getElementById("translation-btn-usa")
    const translateBtnRo = document.getElementById("translation-btn-ro")
    const paragraphUsa = document.getElementById("paragraph-usa")
    const paragraphRo = document.getElementById("paragraph-ro")

    translateBtnUsa.addEventListener("click", ()=>{
        paragraphUsa.classList.remove("invisible")
        paragraphRo.classList.add("invisible")
    })

    translateBtnRo.addEventListener("click", ()=>{
        paragraphUsa.classList.add("invisible")
        paragraphRo.classList.remove("invisible")
    })

</script>
</html>