<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luxor Economic</title>
    <style>
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
        .paragraph{
            font-size: 25px;
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
    </style>
</head>
<body>
    <a class="back" href="/hurghada/home">     <p class="back">←</p>    </a>
    <h1>Luxor Economic</h1>
    <p class="paragraph">
        Excursia este in cel mai vechi oras istoric Teba pe numele modern Luxor unde se gasesc 1/3 din obiectivele istorice ale lumii.Orasul este imprtit in doua parti pe langa cursul Nilului,astfel ,malul de est (denumita orasul viilor) si malul de vest (denumita orasul mortilor) .Orasul Luxor este un vast muzeu in aer liber.
        Programul include :transportul cu microbuzul sau autocarul ,ghid vorbitor de limba engleza,pranzul fara bauturi (bauturile sunt contra cost),biletele de intrare la obiectivele  mentionate  in program.
        Templul karnak ,Templul Hatshepsut ,colosii lui Memnon , 5 minute plimbare  pe Nil  si shopping.
        Plecarea  va fi in jurul orei 04: 30 in functie de hotelul unde sunteti cazati iar sosirea in jurul orei 21 : 30 in functie de hotelul unde sunteti cazati si de trafic.
        <br><br>
        Pret:<br>
        Adult: 40 €<br>
        Copil: 22 €<br><br>
        Cand:<br>
        in fiecare zi
    </p>
</body>
</html>