<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luxor Valea Reginelor</title>
    <style>
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
        .paragraph{
            font-size: 25px;
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
    </style>
</head>
<body>
    <a class="back" href="/hurghada/home">     <p class="back">←</p>    </a>
    <h1>Luxor Valea Reginelor</h1>
    <p class="paragraph">
        Valea Reginelor este locul de veci al sotiilor faraonilor dinastiilor 18, 19 si 20. Situat pe malul vestic al Nilului, vizavi de orasul Luxor, a fost cunoscut sub denumirea Ta-Set-Neferu, insemnand ‚locul frumusetii’. Valea Reginelor gazduieste intre 75-80 de morminte, cele mai renumite fiind cel al reginelor Nefertari si Satre, precum si al printesei Meritamun.  
        Programul include :transportul cu microbuzul sau autocarul ,ghid vorbitor de limba engleza,pranzul fara bauturi (bauturile sunt contra cost),biletele de intrare la obiectivele  mentionate  in program.
        Valea reginelor,Templul Karnak, Templul Hatshepsud,colosii lui Memnon, pranzul fara bauturi(bauturile sunt contra cost), 5 minute plimbare pe Nil shopping,
        Plecarea  va fi in jurul orei 04: 30 in functie de hotelul unde sunteti cazati iar sosirea in jurul orei 21 : 30 in functie de hotelul unde sunteti cazati si de trafic.
        <br><br>
        Pret:<br>
        Adult: 50 €<br>
        Copil: 25 €<br><br>
        Cand:<br>
        in fiecare zi<br><br>
        Optional se poate face plimbare cu barca pe Nil  pe insula bananelor contra cost
    </p>
</body>
</html>