<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luxor Economic</title>
    <style>
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
        .paragraph{
            font-size: 25px;
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
        .translation-btn-usa{
            position: absolute;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            cursor: pointer;
            margin-top: -80px;
            margin-left: 1300px;
        }
        @media (max-width: 600px) {
            .paragraph{
                font-size: 25px;
                width: 280vw;
            }
        }
        .translation-btn-ro{
            position: absolute;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            cursor: pointer;
            margin-top: -80px;
            margin-left: 1390px;
        }
        .invisible{
            display: none;
            top: -1000000px;
        }
        .image-end-1{
            position: relative;
            cursor: pointer;
            height: 340px;
            width: 380px;
            margin: 40px;
            box-shadow: 10px 10px 5px #aaaaaa;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://www.vacante-excursii.ro/storage/uploads/teba3-1597065785.jpg");
        }
        .dark{
            background-color: #333;
        }
        .image-end-1-big{
            z-index: 111;
            position: absolute;
            cursor: pointer;
            height: 540px;
            width: 880px;
            margin-top: 40px;
            margin-left: 400px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://www.vacante-excursii.ro/storage/uploads/teba3-1597065785.jpg");
        }
        ::-webkit-scrollbar {
            width: 15px;
        }
        ::-webkit-scrollbar-track {
            background: rgb(37, 37, 37); 
        }
        ::-webkit-scrollbar-thumb {
            background: #333; 
            border-radius: 25px;
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #555; 
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
    </style>
</head>
<body>
    <a class="back" href="/hurghada/home">     <p class="back">←</p>    </a>
    <div id="image-1-big" class="image-end-1-big invisible"></div>
    <div class="translation">
        <img src="/images/1200px-Flag_of_the_United_States.svg.png" class="translation-btn-usa" id="translation-btn-usa">
        <img src="/images/1200px-Flag_of_Romania.svg.png" class="translation-btn-ro" id="translation-btn-ro">
    </div>
    <h1>Luxor Economic</h1>
    <p id="paragraph-ro" class="paragraph">
        Excursia este in cel mai vechi oras istoric Teba pe numele modern Luxor unde se gasesc 1/3 din obiectivele istorice ale lumii.Orasul este imprtit in doua parti pe langa cursul Nilului,astfel ,malul de est (denumita orasul viilor) si malul de vest (denumita orasul mortilor) .Orasul Luxor este un vast muzeu in aer liber.
        Programul include :transportul cu microbuzul sau autocarul ,ghid vorbitor de limba engleza,pranzul fara bauturi (bauturile sunt contra cost),biletele de intrare la obiectivele  mentionate  in program.
        Templul karnak ,Templul Hatshepsut ,colosii lui Memnon , 5 minute plimbare  pe Nil  si shopping.
        Plecarea  va fi in jurul orei 04: 30 in functie de hotelul unde sunteti cazati iar sosirea in jurul orei 21 : 30 in functie de hotelul unde sunteti cazati si de trafic.
        <br><br>
        Pret:<br>
        Adult: 40 €<br>
        Copil: 22 €<br><br>
        Cand:<br>
        in fiecare zi
    </p>
    <p id="paragraph-usa" class="paragraph invisible">
        The trip is in the oldest historical city Thebes on the modern name Luxor where you can find 1/3 of the historical objectives of the world. (called the city of the dead). Luxor is a vast open-air museum.
        The program includes: transport by minibus or bus, English speaking guide, lunch without drinks (drinks are for a fee), entrance tickets to the objectives mentioned in the program.
        Karnak Temple, Hatshepsut Temple, Memnon's Colossi, 5 minute walk on the Nile and shopping.
        Departure will be around 04:30 depending on the hotel where you are staying and arrival around 21:30 depending on the hotel where you are staying and traffic.        Price:<br>
        Adult: 40 €<br>
        Children: 22 €
        <br><br>
        When:<br>
        every day
    </p>
    <div class="images-section" id="images-section">
        <div id="image-1" class="image-end-1"></div>
    </div>
</body>
<script>
    const image1 = document.getElementById("image-1")
    const imageBig1 = document.getElementById("image-1-big")
    const body = document.querySelector("body")

    image1.addEventListener("click", ()=>{
        imageBig1.classList.remove("invisible")
        body.classList.add("dark")
        image1.classList.add("invisible")
    })

    imageBig1.addEventListener("click", ()=>{
        imageBig1.classList.add("invisible")
        body.classList.remove("dark")
        image1.classList.remove("invisible")
    })

    const translateBtnUsa = document.getElementById("translation-btn-usa")
    const translateBtnRo = document.getElementById("translation-btn-ro")
    const paragraphUsa = document.getElementById("paragraph-usa")
    const paragraphRo = document.getElementById("paragraph-ro")

    translateBtnUsa.addEventListener("click", ()=>{
        paragraphUsa.classList.remove("invisible")
        paragraphRo.classList.add("invisible")
    })

    translateBtnRo.addEventListener("click", ()=>{
        paragraphUsa.classList.add("invisible")
        paragraphRo.classList.remove("invisible")
    })

</script>
</html>