<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manastirea   Sfantul  Pavel  si  Antonie</title>
    <style>
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
        .paragraph{
            font-size: 25px;
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
    </style>
</head>
<body>
    <a class="back" href="/hurghada/home">     <p class="back">←</p>    </a>
    <h1>Manastirea   Sfantul  Pavel  si  Antonie</h1>
    <p class="paragraph">
        Cele mai vechi manastiri din lume, icoane unice si o colectie impresionanta de picture murale din sec VII si XVI, manuscrise pranz.       <br><br> Pret:<br>
        depinde de numarul de persoane si limba<br><br>
        Cand:<br>
        intreaba ghidul
    </p>
</body>
</html>