<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moto  Safari  3 ore</title>
    <style>
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
        .paragraph{
            font-size: 25px;
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
    </style>
</head>
<body>
    <a class="back" href="/hurghada/home">     <p class="back">←</p>    </a>
    <h1>Moto  Safari  3 ore</h1>
    <p class="paragraph">
        Mers cu ATV-ul 45 minute pana la Satul Beduin , plimbare cu camila, 45 minute intors
                <br><br>
        Pret:<br>
        Adult (doar): 20 €<br>
        Cand:<br>
        dimineata si dupa amiaza ,intreaba ghidul.
    </p>
</body>
</html>