<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paraseling</title>
    <style>
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
        .paragraph{
            font-size: 25px;
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
        .translation-btn-usa{
            position: absolute;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            cursor: pointer;
            margin-top: -80px;
            margin-left: 1300px;
        }
        @media (max-width: 600px) {
            .paragraph{
                font-size: 25px;
                width: 280vw;
            }
        }
        .translation-btn-ro{
            position: absolute;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            cursor: pointer;
            margin-top: -80px;
            margin-left: 1390px;
        }
        .invisible{
            display: none;
            top: -1000000px;
        }
        .image-end-1{
            position: relative;
            cursor: pointer;
            height: 340px;
            width: 380px;
            margin: 40px;
            box-shadow: 10px 10px 5px #aaaaaa;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://nile-voyage.com/home/wp-content/uploads/2020/10/Parasiutas-is-Hurgados-parasailing-www.nile-voyage.com-6.jpg");
        }
        .dark{
            background-color: #333;
        }
        .image-end-1-big{
            z-index: 111;
            position: absolute;
            cursor: pointer;
            height: 540px;
            width: 880px;
            margin-top: 40px;
            margin-left: 400px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            background-image: url("https://nile-voyage.com/home/wp-content/uploads/2020/10/Parasiutas-is-Hurgados-parasailing-www.nile-voyage.com-6.jpg");
        }
        ::-webkit-scrollbar {
            width: 15px;
        }
        ::-webkit-scrollbar-track {
            background: rgb(37, 37, 37); 
        }
        ::-webkit-scrollbar-thumb {
            background: #333; 
            border-radius: 25px;
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #555; 
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
    </style>
</head>
<body>
    <a class="back" href="/hurghada/home">     <p class="back">←</p>    </a>
    <div id="image-1-big" class="image-end-1-big invisible"></div>
    <div class="translation">
        <img src="/images/1200px-Flag_of_the_United_States.svg.png" class="translation-btn-usa" id="translation-btn-usa">
        <img src="/images/1200px-Flag_of_Romania.svg.png" class="translation-btn-ro" id="translation-btn-ro">
    </div>
    <h1>Paraseling</h1>
    <p id="paragraph-ro" class="paragraph">
        Vacanta în Egipt este un prilej excelent sa încercați activități noi sau sa va îmbunătățiți abilitățile sportive .
        Bucurați-vă de priveliștea uimitoare a Mării Roșii de la înălțime !!!
        Paraselingul se face cu o singura persoana sau cu 2 persoane la dublu.
        Pretul este acelasi  si pentru copii .
        Transferul nu este inclus in pret si se achita in functie de zona in care sunteti cazati.Greutetea nu trebue sa depaseasca 150 kg pentru siguranta dumneavoastra.
                <br><br>
        Pret:<br>
        Adult (1): 15 €<br>
        Adult (2): 20 €<br><br>
        Cand:<br>
        in fiecare zi, intreaba ghidul
    </p>
    <p id="paragraph-usa" class="paragraph invisible">
        A holiday in Egypt is a great opportunity to try new activities or improve your sports skills.
        Enjoy the amazing view of the Red Sea from the heights !!!
        Paraseling is done with one person or with 2 people in a double.
        The price is the same for children.
        The transfer is not included in the price and is paid depending on the area where you are staying. The weight should not exceed 150 kg for your safety.       <br><br>
        Price:<br>
        Adult (1): 15 €<br>
        adult (2): 20 €
        <br><br>
        When:<br>
        every day, ask the guide
    </p>
    <div class="images-section" id="images-section">
        <div id="image-1" class="image-end-1"></div>
    </div>
</body>
<script>
    const image1 = document.getElementById("image-1")
    const imageBig1 = document.getElementById("image-1-big")
    const body = document.querySelector("body")

    image1.addEventListener("click", ()=>{
        imageBig1.classList.remove("invisible")
        body.classList.add("dark")
        image1.classList.add("invisible")
    })

    imageBig1.addEventListener("click", ()=>{
        imageBig1.classList.add("invisible")
        body.classList.remove("dark")
        image1.classList.remove("invisible")
    })

    const translateBtnUsa = document.getElementById("translation-btn-usa")
    const translateBtnRo = document.getElementById("translation-btn-ro")
    const paragraphUsa = document.getElementById("paragraph-usa")
    const paragraphRo = document.getElementById("paragraph-ro")

    translateBtnUsa.addEventListener("click", ()=>{
        paragraphUsa.classList.remove("invisible")
        paragraphRo.classList.add("invisible")
    })

    translateBtnRo.addEventListener("click", ()=>{
        paragraphUsa.classList.add("invisible")
        paragraphRo.classList.remove("invisible")
    })

</script>
</html>