<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submarin Sindbad</title>
    <style>
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
        .paragraph{
            font-size: 25px;
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
        .translation-btn-usa{
            position: absolute;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            cursor: pointer;
            margin-top: -80px;
            margin-left: 1300px;
        }
        @media (max-width: 600px) {
            .paragraph{
                font-size: 25px;
                width: 280vw;
            }
        }
        .translation-btn-ro{
            position: absolute;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            cursor: pointer;
            margin-top: -80px;
            margin-left: 1390px;
        }
        .invisible{
            display: none;
            top: -1000000px;
        }
    </style>
</head>
<body>
    <a class="back" href="/hurghada/home">     <p class="back">←</p>    </a>
    <div class="translation">
        <img src="/images/1200px-Flag_of_the_United_States.svg.png" class="translation-btn-usa" id="translation-btn-usa">
        <img src="/images/1200px-Flag_of_Romania.svg.png" class="translation-btn-ro" id="translation-btn-ro">
    </div>
    <h1>Submarin Sindbad</h1>
    <p id="paragraph-ro" class="paragraph">
        Lumea subacvatica a Marii Rosii de la bordul unicului submarin turistic din Egipt .Submarinul este insotit de un scafandru care ofera un show subacvatic la o adancime de 22 m unde putem admira pestii prin geamurile panoramice, excursia dureaza 2 ore.        <br><br>
        Pret:<br>
        Adult: 30 €<br>
        Copil: 15 €<br><br>
        Cand:<br>
        in fiecare zi, intreaba ghidul 
    </p>
    <p id="paragraph-usa" class="paragraph invisible">
        The underwater world of the Red Sea aboard the only tourist submarine in Egypt. The submarine is accompanied by a diver who offers an underwater show at a depth of 22 m where we can admire the fish through the panoramic windows, the trip lasts 2 hours. <br> <br>        Price:<br>
        Adult: 30 €<br>
        Children: 15 €
        <br><br>
        When:<br>
        every day, ask the guide
    </p>
</body>
<script>
    const translateBtnUsa = document.getElementById("translation-btn-usa")
    const translateBtnRo = document.getElementById("translation-btn-ro")
    const paragraphUsa = document.getElementById("paragraph-usa")
    const paragraphRo = document.getElementById("paragraph-ro")

    translateBtnUsa.addEventListener("click", ()=>{
        paragraphUsa.classList.remove("invisible")
        paragraphRo.classList.add("invisible")
    })

    translateBtnRo.addEventListener("click", ()=>{
        paragraphUsa.classList.add("invisible")
        paragraphRo.classList.remove("invisible")
    })

</script>
</html>