<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Luxor</title>
    <style>
        .back{
            font-size: 27px;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
        .paragraph{
            font-size: 25px;
        }
        .back:hover{
            color: rgb(37, 37, 37);
        }
    </style>
</head>
<body>
    <a class="back" href="/hurghada/home">     <p class="back">←</p>    </a>
    <h1>Super Luxor</h1>
    <p class="paragraph">
        In capitala antica (Teba ) o sa vizitam complexul de temple din Karnak, templul  Reginei Hasepsud, Valea Regilor, Colosii lui Memnon , fabrica de Alabastru  ,pranz..fara bauturi (bauturile sunt contra cost)
        Plecarea  va fi in jurul orei 04: 30 in functie de hotelul unde sunteti cazati iar sosirea in jurul orei 21 : 30 in functie de hotelul unde sunteti cazati si de trafic.
                <br><br>
        Pret:<br>
        Adult: 55-50 €<br>
        Copil: 25-30 €<br><br>
        Cand:<br>
        duminica, marti si joi <br><br>
        Optional se poate face plimbare cu barca pe Nil contra cost.
    </p>
</body>
</html>